flows.json
[{"id":"a4c25f6c.000c4","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"fa7f9b47.bdd138","type":"tab","label":"WS Plantcare","disabled":false,"info":""},{"id":"faae6bb8.83c198","type":"tab","label":"WS EnvironmentStations","disabled":false,"info":""},{"id":"2cf56aa8.e26bb6","type":"tab","label":"WS Marcomodel","disabled":false,"info":""},{"id":"3963698c.d58866","type":"tab","label":"UI Laura","disabled":false,"info":""},{"id":"1f052252.f9d57e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24975556.ca565a","type":"ui_tab","z":"","name":"Logging","icon":"dashboard","disabled":false,"hidden":false},{"id":"d31e0a67.ea1858","type":"ui_group","z":"","name":"Macromodel In/Out Data","tab":"24975556.ca565a","order":1,"disp":true,"width":"20","collapse":true},{"id":"384b9397.9098ac","type":"ui_tab","z":"","name":"Farmscale Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"5fa0f8a5.1210c8","type":"ui_group","z":"","name":"SensorMap","tab":"384b9397.9098ac","order":1,"disp":true,"width":"20","collapse":false},{"id":"55721132.aaf91","type":"ui_group","z":"","name":"Device Data","tab":"384b9397.9098ac","order":2,"disp":true,"width":"20","collapse":false},{"id":"672056cd.abebe8","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"swa-database","name":"","usetls":false,"tls":""},{"id":"35135631.d0beba","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"swa-db","name":"","usetls":false,"tls":""},{"id":"9a440a23.723a68","type":"http in","z":"2cf56aa8.e26bb6","name":"","url":"/totalconsumption","method":"get","upload":false,"swaggerDoc":"","x":140,"y":440,"wires":[["683ae1e.3ee452"]]},{"id":"6534cc77.1bf9e4","type":"json","z":"2cf56aa8.e26bb6","name":"","property":"payload","action":"","pretty":false,"x":810,"y":440,"wires":[["1f6179b5.9ed816"]]},{"id":"1f6179b5.9ed816","type":"http response","z":"2cf56aa8.e26bb6","name":"","statusCode":"","headers":{},"x":970,"y":440,"wires":[]},{"id":"a517e217.293d1","type":"inject","z":"2cf56aa8.e26bb6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["604760e4.003b"]]},{"id":"604760e4.003b","type":"function","z":"2cf56aa8.e26bb6","name":"","func":"msg.payload = [\n    [1, 0.5],\n    [2, 0.5],\n    [3, 0.5],\n    [4, 0.25]\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["ff0050a3.9880f"]]},{"id":"ff0050a3.9880f","type":"csv","z":"2cf56aa8.e26bb6","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":240,"wires":[["6b33b034.440ac"]]},{"id":"6b33b034.440ac","type":"file","z":"2cf56aa8.e26bb6","name":"","filename":"/rea-data/dummy-data.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":700,"y":240,"wires":[[]]},{"id":"b3a8151.e9bc6e8","type":"comment","z":"2cf56aa8.e26bb6","name":"Create some dummy data and write to READATA volume","info":"","x":250,"y":180,"wires":[]},{"id":"3d992fad.34cee","type":"comment","z":"2cf56aa8.e26bb6","name":"Read results form dummy data simulation from READATA volume","info":"","x":270,"y":380,"wires":[]},{"id":"683ae1e.3ee452","type":"file in","z":"2cf56aa8.e26bb6","name":"","filename":"/rea-data/dummy-results.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":440,"wires":[["ad40a318.d6806"]]},{"id":"4dbf929b.716cac","type":"watch","z":"2cf56aa8.e26bb6","name":"Cange on Dummydata","files":"/rea-data/dummy-data.csv","recursive":"","x":140,"y":300,"wires":[["d1c2014d.98418"]]},{"id":"73b19606.39fd68","type":"http request","z":"2cf56aa8.e26bb6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":300,"wires":[["ec929591.9b5cc8"]]},{"id":"4a56774c.0afa88","type":"ui_text","z":"2cf56aa8.e26bb6","group":"d31e0a67.ea1858","order":0,"width":"20","height":"1","name":"","label":"Simulation","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":300,"wires":[]},{"id":"8f156aae.2417f8","type":"function","z":"2cf56aa8.e26bb6","name":"","func":"\ntimestamp = new Date().toISOString();\nstatus = msg.payload.status;\nmsg.payload =  timestamp + \" : Simulation started with status: \" + status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":300,"wires":[["4a56774c.0afa88"]]},{"id":"b17a0e4d.3312c","type":"debug","z":"2cf56aa8.e26bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"ec929591.9b5cc8","type":"json","z":"2cf56aa8.e26bb6","name":"","property":"payload","action":"","pretty":false,"x":710,"y":300,"wires":[["8f156aae.2417f8","b17a0e4d.3312c"]]},{"id":"580d78c7.995848","type":"comment","z":"2cf56aa8.e26bb6","name":"Test if service is availabel","info":"","x":150,"y":60,"wires":[]},{"id":"d3d7217c.38449","type":"inject","z":"2cf56aa8.e26bb6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["4df3b667.80fa48"]]},{"id":"9b9e7fb0.e8e77","type":"http request","z":"2cf56aa8.e26bb6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":100,"wires":[["7bd8239a.32702c"]]},{"id":"7bd8239a.32702c","type":"json","z":"2cf56aa8.e26bb6","name":"","property":"payload","action":"","pretty":false,"x":650,"y":100,"wires":[["205c8b81.14f294"]]},{"id":"205c8b81.14f294","type":"debug","z":"2cf56aa8.e26bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":100,"wires":[]},{"id":"3329605f.801c3","type":"debug","z":"2cf56aa8.e26bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":500,"wires":[]},{"id":"ad40a318.d6806","type":"csv","z":"2cf56aa8.e26bb6","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":650,"y":440,"wires":[["6534cc77.1bf9e4","3329605f.801c3"]]},{"id":"4df3b667.80fa48","type":"function","z":"2cf56aa8.e26bb6","name":"","func":"let endpoint = env.get(\"MACRO_ENDPOINT\");\nmsg.url = endpoint + \"/test\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["9b9e7fb0.e8e77"]]},{"id":"d1c2014d.98418","type":"function","z":"2cf56aa8.e26bb6","name":"","func":"let endpoint = env.get(\"MACRO_ENDPOINT\");\nmsg.url = endpoint + \"/start\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["73b19606.39fd68"]]},{"id":"2643ea67.bde2a6","type":"http request","z":"3963698c.d58866","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":220,"wires":[["bb48d4ec.6c7ab8"]]},{"id":"571325ab.819c6c","type":"function","z":"3963698c.d58866","name":"","func":"var geo = [];\nvar options = [];\nvar filter = [\n    \"swa-plantcare\",\n    \"swa-hydro\",\n    \"swa-environmental\"\n]\n\nfor (var d in msg.payload.body) {\n    var device = msg.payload.body[d];\n    var apply = false;\n    for (var f in filter) {\n        if (device.name.startsWith(filter[f])) {\n            apply = true;\n        }\n    }\n    if (apply) {\n        options.push(device.slug)\n        if (device.location !== null) {\n            geo.push({\n                payload : {\n                    name : device.slug,\n                    layer: filter[f],\n                    icon : \"shower\",\n                    hover: device.name,\n                    lat  : device.location.coordinates[1],\n                    lon  : device.location.coordinates[0],\n            }});\n        }\n    }\n}\n\nvar msgOpt = {\n    \"options\" : options\n}\n\nreturn [geo, msgOpt];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":220,"wires":[["2feb5a5a.fa6f06"],["273316e6.49fb7a","b761047a.e8c0f8"]],"outputLabels":["geotaged","all"]},{"id":"3172ea09.76aae6","type":"function","z":"3963698c.d58866","name":"","func":"if (msg.payload.action === \"connected\") {\n    let token = env.get(\"ZENNER_TOKEN\");\n    let endpoint = env.get(\"ZENNER_ENDPOINT\")\n    let request = \"/api/v1/devices\";\n    let url = endpoint+request+\"?limit=100&auth=\"+token;\n    msg.url = url;\n    return msg;\n} else {\n    node.done() \n    return;\n} ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":220,"wires":[["2643ea67.bde2a6"]]},{"id":"b761047a.e8c0f8","type":"debug","z":"3963698c.d58866","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"bb48d4ec.6c7ab8","type":"json","z":"3963698c.d58866","name":"","property":"payload","action":"","pretty":false,"x":450,"y":220,"wires":[["571325ab.819c6c"]]},{"id":"1d5666b3.f174f9","type":"ui_worldmap","z":"3963698c.d58866","group":"5fa0f8a5.1210c8","order":0,"width":0,"height":0,"name":"","lat":"47.5499674","lon":"9.3180199","zoom":"13","layer":"OSM","cluster":"14","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":760,"y":60,"wires":[]},{"id":"2feb5a5a.fa6f06","type":"worldmap","z":"3963698c.d58866","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","path":"/worldmap","x":800,"y":180,"wires":[]},{"id":"57595b73.081424","type":"ui_ui_control","z":"3963698c.d58866","name":"","events":"all","x":100,"y":60,"wires":[["405601a2.e2266"]]},{"id":"8e731ae1.22ec48","type":"worldmap in","z":"3963698c.d58866","name":"","path":"/worldmap","events":"","x":100,"y":140,"wires":[["3172ea09.76aae6"]]},{"id":"d8c9f2dc.aa666","type":"worldmap in","z":"3963698c.d58866","name":"","path":"/worldmap","events":"all","x":80,"y":460,"wires":[["b2611849.b1ba18","f34f0cc.e689af"]]},{"id":"d816832.7268b8","type":"ui_chart","z":"3963698c.d58866","name":"","group":"55721132.aaf91","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#f99b43","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":500,"wires":[[]]},{"id":"aa6a4b05.d9e6a8","type":"function","z":"3963698c.d58866","name":"","func":"var msgs = [];\n// Empty the chart\n//msgs.push({payload : []});\n\nfor (var d in msg.payload.body) {\n    var sample = msg.payload.body[d];\n    msgs.push( {\n        topic : \"Moisture %\",\n        payload : sample.data.moisture,\n        timestamp : sample.measured_at\n    });\n    msgs.push({\n        topic : \"Temperatur °C\",\n        payload : sample.data.soil_temp,\n        timestamp : sample.measured_at\n    });\n    // Add here predictive data, once it is available\n}\n\npage = null;\ncount = flow.get(\"req-count\");\nif (msg.payload.retrieve_after_id !== undefined && count < 3) {\n    msg.payload.action = \"click\";\n    msg.payload.name = flow.get(\"dev-name\");\n    msg.payload.count = count;\n    page = msg;\n    count = count + 1;\n    flow.set(\"req-count\", count);\n}\n\n\nreturn [msgs, page];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":620,"wires":[["d816832.7268b8"],["e4f54433.12def8","b2611849.b1ba18"]]},{"id":"7c1cfdcc.723bb4","type":"json","z":"3963698c.d58866","name":"","property":"payload","action":"","pretty":false,"x":470,"y":560,"wires":[["aa6a4b05.d9e6a8","a0786dad.cea18"]]},{"id":"eacfa34b.2ef31","type":"http request","z":"3963698c.d58866","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":560,"wires":[["7c1cfdcc.723bb4"]]},{"id":"b2611849.b1ba18","type":"function","z":"3963698c.d58866","name":"","func":"flow.set(\"dev-name\", msg.payload.name);\n\nif (msg.payload.action === \"click\") {\n    let token = env.get(\"ZENNER_TOKEN\");\n    let endpoint = env.get(\"ZENNER_ENDPOINT\")\n    let request = \"/api/v1/devices/\"+msg.payload.name+\"/readings?\";\n    if (msg.payload.retrieve_after_id !== undefined) {\n        request += \"retrieve_after=\" + msg.payload.retrieve_after_id +\"&\"\n    } else {\n        // Init pageination\n        flow.set(\"req-count\", 0);\n    }\n    let url = endpoint+request+\"limit=200&auth=\"+token;\n    msg.url = url;\n    return msg;\n} else {\n    node.done() \n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":560,"wires":[["eacfa34b.2ef31","c8d07fcb.5640b"]]},{"id":"405601a2.e2266","type":"function","z":"3963698c.d58866","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":60,"wires":[[]]},{"id":"273316e6.49fb7a","type":"ui_dropdown","z":"3963698c.d58866","name":"","label":"Device","tooltip":"","place":"Select option","group":"55721132.aaf91","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":300,"wires":[["ee6bd92b.485818"]]},{"id":"ee6bd92b.485818","type":"function","z":"3963698c.d58866","name":"","func":"msg.payload = {\n    name : msg.payload,\n    action : \"click\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":420,"wires":[["b2611849.b1ba18"]]},{"id":"c3984370.94b75","type":"comment","z":"a4c25f6c.000c4","name":"Pull all sensor-data from Zennter","info":"","x":210,"y":360,"wires":[]},{"id":"e4f54433.12def8","type":"debug","z":"3963698c.d58866","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":660,"wires":[]},{"id":"c8d07fcb.5640b","type":"debug","z":"3963698c.d58866","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":500,"wires":[]},{"id":"a0786dad.cea18","type":"debug","z":"3963698c.d58866","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"f34f0cc.e689af","type":"function","z":"3963698c.d58866","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["d816832.7268b8"]]},{"id":"1097f061.6822d","type":"json","z":"a4c25f6c.000c4","name":"","property":"payload","action":"","pretty":false,"x":630,"y":640,"wires":[["8827c43a.e99d28"]]},{"id":"e5a21e4c.abccd","type":"function","z":"a4c25f6c.000c4","name":"Prepare page of 100","func":"let token = env.get(\"ZENNER_TOKEN\");\nlet endpoint = env.get(\"ZENNER_ENDPOINT\")\nlet request = \"/api/v1/devices/\"+msg.device.slug+\"/readings?\";\nif (msg.payload.retrieve_after_id !== undefined) {\n    request += \"retrieve_after=\" + msg.payload.retrieve_after_id +\"&\"\n} else {\n    // Init pageination\n    msg.count = 0;\n}\nlet url = endpoint+request+\"limit=100&auth=\"+token;\nmsg.url = url;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":640,"wires":[["5ee46ad1.17ca44"]]},{"id":"5ee46ad1.17ca44","type":"http request","z":"a4c25f6c.000c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":640,"wires":[["1097f061.6822d"]]},{"id":"b606a586.1bd558","type":"function","z":"a4c25f6c.000c4","name":"Filter devices","func":"var devices = [];\n// filter.search is used to find sensors\"\n// filter.measure is the measure for the database\nvar filters = [\n    { \n        search : \"swa-plantcare\",\n        measure : \"soil\"\n    }\n]\n\nfor (var d in msg.payload.body) {\n    var device = msg.payload.body[d];\n    var fil = null\n    for (var f in filters) {\n        if (device.name.startsWith(filters[f].search)) {\n            fil = filters[f];\n        }\n    }\n    if (fil !== null && device.location !== null) {\n        let msg = {\n            payload : {},\n            device: {\n                slug : device.slug,\n                name: device.name,\n                eui :  device.interfaces[0].opts.device_eui,\n                lat : device.location.coordinates[1],\n                lon : device.location.coordinates[0]\n            },\n            filter: fil\n        };\n        devices.push(msg);\n    }\n}\n\nreturn [devices];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":520,"wires":[["95383f82.5230a","e5a21e4c.abccd"]],"outputLabels":["geotaged"]},{"id":"5ff28e33.9e8fb","type":"json","z":"a4c25f6c.000c4","name":"","property":"payload","action":"","pretty":false,"x":630,"y":520,"wires":[["b606a586.1bd558"]]},{"id":"c1a4115a.26c9d","type":"http request","z":"a4c25f6c.000c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":520,"wires":[["5ff28e33.9e8fb"]]},{"id":"fbb9f811.826588","type":"function","z":"a4c25f6c.000c4","name":"Prepare Request","func":"let token = env.get(\"ZENNER_TOKEN\");\nlet endpoint = env.get(\"ZENNER_ENDPOINT\")\nlet request = \"/api/v1/devices\";\nlet url = endpoint+request+\"?limit=100&auth=\"+token;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":520,"wires":[["c1a4115a.26c9d"]]},{"id":"8fb19b97.478cd8","type":"inject","z":"a4c25f6c.000c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":460,"wires":[["fbb9f811.826588"]]},{"id":"95383f82.5230a","type":"debug","z":"a4c25f6c.000c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":520,"wires":[]},{"id":"8827c43a.e99d28","type":"function","z":"a4c25f6c.000c4","name":"Transform payload and create next request","func":"var dataset = {\n    measurement : msg.filter.measure,\n    name : msg.device.name,\n    eui : msg.device.eui,\n    lat : msg.device.lat,\n    lon : msg.device.lon,\n    samples : []\n};\n\nfor (var d in msg.payload.body) {\n    var sample = msg.payload.body[d];\n    dataset.samples.push( {\n        temperature: sample.data.soil_temp,\n        moisture: sample.data.moisture,\n        coolingtime: sample.data.coolingtime,\n        time: sample.measured_at\n    });\n}\nmsg2 = {\n    payload : dataset\n}\n\nif (msg.payload.retrieve_after_id !== undefined) {\n    msg.payload.action = \"click\";\n    msg.count = msg.count + 1;\n} else {\n    msg = null;\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":890,"y":680,"wires":[["e5a21e4c.abccd"],["3a8d5d49.cff3d2","4f6e3633.5e9b08"]],"outputLabels":["page","msgs"]},{"id":"f57ef523.098938","type":"http in","z":"a4c25f6c.000c4","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["8eb9113a.4a24a"]]},{"id":"e72b83d1.5b999","type":"http response","z":"a4c25f6c.000c4","name":"","statusCode":"","headers":{},"x":490,"y":120,"wires":[]},{"id":"8eb9113a.4a24a","type":"function","z":"a4c25f6c.000c4","name":"","func":"msg.payload = {\n  \"hello\" : \"swa world\"  \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["e72b83d1.5b999"]]},{"id":"1ee0c8ef.c5fd07","type":"comment","z":"a4c25f6c.000c4","name":"Simple Test if API is alive","info":"","x":190,"y":60,"wires":[]},{"id":"73c1f7c7.bd0a78","type":"comment","z":"a4c25f6c.000c4","name":"Create Database","info":"","x":160,"y":200,"wires":[]},{"id":"70d5d3ee.4e841c","type":"inject","z":"a4c25f6c.000c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["26a11f47.e7735"]]},{"id":"26a11f47.e7735","type":"function","z":"a4c25f6c.000c4","name":"","func":"msg.method = \"POST\";\nmsg.url = env.get(\"INFLUX_ENDPOINT\")+'/query?q=CREATE DATABASE \"'+ env.get(\"INFLUX_DBNAME\")+'\"';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["8bbb96fa.abd638"]]},{"id":"8bbb96fa.abd638","type":"http request","z":"a4c25f6c.000c4","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["69f06261.981f5c"]]},{"id":"eda1c4c3.f028a8","type":"comment","z":"a4c25f6c.000c4","name":"Query all sensors (filter applied)","info":"","x":310,"y":480,"wires":[]},{"id":"c01879d7.f3cac8","type":"comment","z":"a4c25f6c.000c4","name":"Query all records and loop through pagination","info":"","x":350,"y":600,"wires":[]},{"id":"19f91ea.66002e1","type":"comment","z":"a4c25f6c.000c4","name":"Write data sets to measurement","info":"","x":310,"y":740,"wires":[]},{"id":"94f4acd1.d601c","type":"debug","z":"a4c25f6c.000c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"69f06261.981f5c","type":"json","z":"a4c25f6c.000c4","name":"","property":"payload","action":"","pretty":false,"x":710,"y":260,"wires":[["94f4acd1.d601c"]]},{"id":"be5cafb2.35765","type":"debug","z":"a4c25f6c.000c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":780,"wires":[]},{"id":"3a8d5d49.cff3d2","type":"function","z":"a4c25f6c.000c4","name":"Create DB insert statement","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/write?db=\"+env.get(\"INFLUX_DBNAME\");\nvar postdata = \"\";\nfor (let s in msg.payload.samples) {\n    let sample = msg.payload.samples[s];\n    let timestamp = Date.parse(sample.time)*1000000;\n    /*\n        Prepare Schema as follows\n        soil,did=swa-plantcare-16,lon=12;lat=9 soil_temp=20,moisture=60,coolingtime=24 20398340912384\n    */\n    var record = msg.payload.measurement + ',device=' + msg.payload.name +  ',eui=' + msg.payload.eui +\n    ',lat=' + msg.payload.lat + ',lon=' + msg.payload.lon +\n    ' temperature='+ sample.temperature + ',moisture=' + sample.moisture +',coolingtime=' + \n    sample.coolingtime + ' ' + timestamp + '\\n';\n    postdata = postdata + record\n}\nmsg.payload = postdata\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":780,"wires":[["fae0431e.56603"]]},{"id":"fae0431e.56603","type":"http request","z":"a4c25f6c.000c4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":780,"wires":[["be5cafb2.35765"]]},{"id":"dbf9bfb1.9a75a","type":"debug","z":"a4c25f6c.000c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":900,"wires":[]},{"id":"a59b2391.b3181","type":"inject","z":"a4c25f6c.000c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":900,"wires":[["3b4da03a.10fd6"]]},{"id":"9003d054.8ba61","type":"http request","z":"a4c25f6c.000c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":900,"wires":[["cb4504a8.aeaeb8"]]},{"id":"3b4da03a.10fd6","type":"function","z":"a4c25f6c.000c4","name":"Create DB Select statement","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/query?db=\"+env.get(\"INFLUX_DBNAME\")+\n          '&q=SELECT * FROM \"soil\"';\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":900,"wires":[["9003d054.8ba61"]]},{"id":"cb4504a8.aeaeb8","type":"json","z":"a4c25f6c.000c4","name":"","property":"payload","action":"","pretty":false,"x":710,"y":900,"wires":[["dbf9bfb1.9a75a"]]},{"id":"4f6e3633.5e9b08","type":"debug","z":"a4c25f6c.000c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":760,"wires":[]},{"id":"dc7fec8b.af5f4","type":"debug","z":"fa7f9b47.bdd138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":180,"wires":[]},{"id":"45759830.b2b238","type":"inject","z":"fa7f9b47.bdd138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["14321cdc.ef5333"]]},{"id":"3f467b4d.594074","type":"http request","z":"fa7f9b47.bdd138","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":180,"wires":[["ee4abb8a.8f4888"]]},{"id":"14321cdc.ef5333","type":"function","z":"fa7f9b47.bdd138","name":"Create DB Select statement","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/query?db=\"+env.get(\"INFLUX_DBNAME\")+\n          '&q=SELECT * FROM \"soil\"';\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["3f467b4d.594074"]]},{"id":"ee4abb8a.8f4888","type":"json","z":"fa7f9b47.bdd138","name":"","property":"payload","action":"","pretty":false,"x":790,"y":180,"wires":[["dc7fec8b.af5f4"]]}]