meshup/flows.json
[{"id":"2d1159b7.8f7406","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"e844b901.23f978","type":"tab","label":"Frontend - Queries","disabled":false,"info":""},{"id":"88a01a3b.6b7ab8","type":"tab","label":"CSV Upload","disabled":false,"info":""},{"id":"70dd4e43.cac478","type":"tab","label":"Store Weather","disabled":false,"info":""},{"id":"210233e1.b9e69c","type":"tab","label":"Sensor Data","disabled":false,"info":""},{"id":"b79aef45.e70a1","type":"tab","label":"WeatherPreparation","disabled":false,"info":""},{"id":"ea8ebb74.494af8","type":"tab","label":"Flow 1"},{"id":"1f052252.f9d57e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24975556.ca565a","type":"ui_tab","z":"","name":"Logging","icon":"dashboard","disabled":false,"hidden":false},{"id":"d31e0a67.ea1858","type":"ui_group","z":"","name":"Macromodel In/Out Data","tab":"24975556.ca565a","order":1,"disp":true,"width":"20","collapse":true},{"id":"384b9397.9098ac","type":"ui_tab","z":"","name":"Farmscale Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"5fa0f8a5.1210c8","type":"ui_group","z":"","name":"SensorMap","tab":"384b9397.9098ac","order":1,"disp":true,"width":"20","collapse":false},{"id":"55721132.aaf91","type":"ui_group","z":"","name":"Device Data","tab":"384b9397.9098ac","order":2,"disp":true,"width":"20","collapse":false},{"id":"672056cd.abebe8","type":"influxdb","z":"","hostname":"swa-meshup_influx_1","port":"8086","protocol":"http","database":"swaDatabase","name":"","usetls":false,"tls":""},{"id":"35135631.d0beba","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"swa-db","name":"","usetls":false,"tls":""},{"id":"23312034.5b5be8","type":"influxdb","z":"","hostname":"swa-meshup_influx_1","port":"8086","protocol":"http","database":"swaDatabase","name":"","usetls":false,"tls":""},{"id":"3d3b7059.1bec3","type":"http in","z":"e844b901.23f978","name":"","url":"/query","method":"get","upload":false,"swaggerDoc":"","x":160,"y":480,"wires":[["9635149a.c35da8"]]},{"id":"efc2118c.bfbb","type":"change","z":"e844b901.23f978","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.Access-Control-Allow-Origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":480,"wires":[["afbd8aa9.f29ce8"]]},{"id":"afbd8aa9.f29ce8","type":"http response","z":"e844b901.23f978","name":"","x":1250,"y":480,"wires":[]},{"id":"cc3fe6de.ca4e28","type":"inject","z":"e844b901.23f978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":420,"wires":[["9635149a.c35da8"]]},{"id":"cf32d23a.be4be","type":"debug","z":"e844b901.23f978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":420,"wires":[]},{"id":"803a0e2a.e02ed","type":"influxdb in","z":"e844b901.23f978","influxdb":"672056cd.abebe8","name":"","query":"","rawOutput":true,"precision":"","retentionPolicy":"","x":620,"y":480,"wires":[["c4307da8.c2dca","14659bc9.37f204"]]},{"id":"9635149a.c35da8","type":"template","z":"e844b901.23f978","name":"Query","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT median(\"soil_temp\") AS \"median_soil_temp\"\nFROM \"swaDatabase\".\"autogen\".\"soil\"\nWHERE time > '2020-09-20T08:00:00.00Z' AND time < '2020-09-27T08:00:00.00Z'\nGROUP BY time(1h), \"eui\" FILL(null)","output":"str","x":370,"y":480,"wires":[["803a0e2a.e02ed"]]},{"id":"c4307da8.c2dca","type":"function","z":"e844b901.23f978","name":"","func":"const data = msg.payload.results[0].series[0]\n\nconst values = data.values;\n\nvar chart = {\n    labels: [],\n    data: []\n};\n\n\nfor (var i = 0; i < 10; i++) {\n    chart.labels.push(values[i][0])\n    chart.data.push(values[i][1])\n}\n\nmsg.payload = {\n    \"seriesdata\":{\n        \"labels\": chart.labels,\n        \"datasets\": [\n            {\n                \"label\": data.tags.eui,\n                \"backgroundColor\": \"#f87979\",\n                \"data\": chart.data\n            }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":480,"wires":[["cf32d23a.be4be","efc2118c.bfbb"]]},{"id":"14659bc9.37f204","type":"debug","z":"e844b901.23f978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"1f03f049.b702f","type":"inject","z":"70dd4e43.cac478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["294a56fd.f27a12"]]},{"id":"7a6c4662.a26a5","type":"http request","z":"70dd4e43.cac478","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":360,"wires":[["1724a209.c6a86e"]]},{"id":"77b948d4.520368","type":"function","z":"70dd4e43.cac478","name":"","func":"if(msg.urls.length === 0){\n     msg.payload = \"transmission finished\"\n    return [msg,null];\n}\nelse{\n    var newParameter = msg.urls.pop();\n    msg.url = newParameter.url;\n    msg.currentParameter = newParameter.parameter;\n    return [null,msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["e05634a8.9f04f8"],["7a6c4662.a26a5"]]},{"id":"1724a209.c6a86e","type":"json","z":"70dd4e43.cac478","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":360,"wires":[["58980489.d20494"]]},{"id":"294a56fd.f27a12","type":"function","z":"70dd4e43.cac478","name":"","func":"msg.filter = [\"GUT\", \"BIZ\", \"AMW\", \"JON\"];\nmsg.urls = [\n    {url:\"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-globalstrahlung-10min/ch.meteoschweiz.messwerte-globalstrahlung-10min_de.json\",\n    parameter: \"solar_radiation\"},\n    {url: \"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-lufttemperatur-10min/ch.meteoschweiz.messwerte-lufttemperatur-10min_de.json\",\n    parameter: \"temperature\"},\n    {url: \"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-luftdruck-qfe-10min/ch.meteoschweiz.messwerte-luftdruck-qfe-10min_de.json\",\n    parameter: \"barometric_pressure\"},\n    {url: \"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-windgeschwindigkeit-kmh-10min/ch.meteoschweiz.messwerte-windgeschwindigkeit-kmh-10min_de.json\",\n    parameter: \"wind\"},\n    {url: \"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-taupunkt-10min/ch.meteoschweiz.messwerte-taupunkt-10min_de.json\",\n    parameter: \"dew_point\"},\n    {url: \"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-niederschlag-10min/ch.meteoschweiz.messwerte-niederschlag-10min_de.json\",\n    parameter: \"rain\"},\n    {url: \"https://data.geo.admin.ch/ch.meteoschweiz.messwerte-luftfeuchtigkeit-10min/ch.meteoschweiz.messwerte-luftfeuchtigkeit-10min_de.json\",\n    parameter: \"humidity\"}\n    ];\nmsg.source = \"MeteoSchweiz\"\nmsg.currentParameter=[];\nmsg.measurement = env.get(\"MEASUREMENT_weather\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":200,"wires":[["77b948d4.520368"]]},{"id":"58980489.d20494","type":"function","z":"70dd4e43.cac478","name":"","func":"Date.prototype.getUnixTime = function() { return this.getTime()/1000|0 };\n\nlet token = env.get(\"ZENNER_TOKEN\");\nlet dbName = env.get(\"INFLUXDB_DB_Weather \"); //swaWeatherStorage.autogen\nlet endpoint = env.get(\"INFLUX_ENDPOINT\"); //http://swa-meshup_influx_1:8086\nvar payload = [];\n\nvar packetSet = [];\nfor(var location in msg.payload.features){\n    if(msg.filter.includes(msg.payload.features[location].id)){\n        var tagSet = {}; \n        var fieldSet = {};\n        tagSet.source = msg.source;\n        //tagSet.zone = msg.payload.features[location].properties.station_name;\n        tagSet.pos_longitude = msg.payload.features[location].geometry.coordinates[0];\n        tagSet.pos_latitude = msg.payload.features[location].geometry.coordinates[1];\n        //tagSet.pos_alt = parseFloat(msg.payload.features[location].properties.altitude);\n        fieldSet[msg.currentParameter] =msg.payload.features[location].properties.value;\n        var timestamp = new Date(msg.payload.features[location].properties.reference_ts)\n        fieldSet.time =timestamp.getTime()*1000000\n        packetSet.push(fieldSet);\n        packetSet.push(tagSet);\n        \n    }\n}\npayload.push(packetSet);\n\nmsg.payloadWithWrongLocation = payload;\nmsg.tempPayload = [];\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":360,"wires":[["6c556dc4.8e5ffc"]]},{"id":"ae127379.c96a1","type":"function","z":"70dd4e43.cac478","name":"","func":"\nvar requestBody = \"\"\n\nfor (var i = 0; i < msg.payload.length; i+=2) {\n  var valueSet = msg.payload[i];\n  var tagSet = msg.payload[i+1];\n  var measurement = msg.measurement;\n  \n  var valueSetBody=\"\";\n  var tagSetBody=\"\";\n  var timestamp;\n  // Prepare Schema as follows\n  //    soil,id=swa-plantcare-16,lon=12;lat=9 soil_temp=20,moisture=60,coolingtime=24 20398340912384\n  for(var value in valueSet){\n      if(value == \"time\"){\n          timestamp = valueSet[value];\n      }else{\n          valueSetBody += value+\"=\"+valueSet[value]+\",\";\n      }\n  }\n  for(var tag in tagSet){\n     tagSetBody += tag+\"=\"+tagSet[tag]+\",\";\n  }\n  \n  requestBody += measurement +\",\"+tagSetBody.slice(0, -1)+ \" \"+valueSetBody.slice(0, -1)+\" \"+timestamp+'\\n';\n}\n\nmsg = {};\nmsg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\nmsg.requestBody = requestBody;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":340,"wires":[["3904ac13.3e612c"]]},{"id":"3904ac13.3e612c","type":"base64","z":"70dd4e43.cac478","name":"","action":"","property":"payload","x":1480,"y":340,"wires":[["91c491c5.64ce88"]]},{"id":"91c491c5.64ce88","type":"function","z":"70dd4e43.cac478","name":"","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/write?db=\"+env.get(\"INFLUXDB_DB_Weather\");\nmsg.headers = {};\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nmsg.payload = msg.requestBody\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":340,"wires":[["80e5809a.3dce3","24b305d3.4c367a"]]},{"id":"80e5809a.3dce3","type":"http request","z":"70dd4e43.cac478","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1830,"y":340,"wires":[[]]},{"id":"6c556dc4.8e5ffc","type":"function","z":"70dd4e43.cac478","name":"Location Convert Loop","func":"if(msg.payloadWithWrongLocation[0].length === 0){\n    \n    msg.payload = msg.tempPayload;\n    return [msg,null];\n}\nelse{\n    \n    var tagSet = (msg.payloadWithWrongLocation[0].pop());\n    var keySet = msg.payloadWithWrongLocation[0].pop();\n    msg.url = \"http://geodesy.geo.admin.ch/reframe/lv95towgs84?easting=\"+tagSet.pos_longitude+\"&northing=\"+tagSet.pos_latitude;\n    msg.tempPayload.push(keySet);\n    msg.rawTagSet = tagSet;\n    return [null,msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1010,"y":360,"wires":[["ae127379.c96a1","77b948d4.520368"],["966429eb.33e89"]]},{"id":"966429eb.33e89","type":"http request","z":"70dd4e43.cac478","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":480,"wires":[["b4be424.a940d4"]]},{"id":"b4be424.a940d4","type":"json","z":"70dd4e43.cac478","name":"","property":"payload","action":"obj","pretty":false,"x":1050,"y":480,"wires":[["1d16101d.7e582"]]},{"id":"1d16101d.7e582","type":"function","z":"70dd4e43.cac478","name":"","func":"msg.rawTagSet.pos_longitude = msg.payload.coordinates[0];\nmsg.rawTagSet.pos_latitude = msg.payload.coordinates[1];\nmsg.tempPayload.push(msg.rawTagSet);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":480,"wires":[["6c556dc4.8e5ffc"]]},{"id":"e05634a8.9f04f8","type":"debug","z":"70dd4e43.cac478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":200,"wires":[]},{"id":"c7b32ea4.a32ea","type":"comment","z":"e844b901.23f978","name":"Query Daten hier eingeben","info":"","x":430,"y":420,"wires":[]},{"id":"f5d0b153.f9c99","type":"http in","z":"88a01a3b.6b7ab8","name":"","url":"/csvupload","method":"get","upload":false,"swaggerDoc":"","x":260,"y":140,"wires":[["ab1853a9.1cf38"]]},{"id":"3e353887.4d2598","type":"template","z":"88a01a3b.6b7ab8","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>SWA CSV-Upload</title>\n</head>\n\n    <style>\n        {{{css}}}\n    </style>\n    \n    <body>\n        {{{body}}}\n    </body>\n</html>","output":"str","x":1720,"y":220,"wires":[["7118e176.8901d"]]},{"id":"7118e176.8901d","type":"http response","z":"88a01a3b.6b7ab8","name":"","statusCode":"","headers":{},"x":1850,"y":220,"wires":[]},{"id":"463b1c12.e789b4","type":"debug","z":"88a01a3b.6b7ab8","name":"","active":true,"tosidebar":true,"console":false,"complete":"req.files","statusVal":"","statusType":"auto","x":490,"y":300,"wires":[]},{"id":"eb9953b9.89d16","type":"comment","z":"88a01a3b.6b7ab8","name":"csv file upload","info":"","x":250,"y":200,"wires":[]},{"id":"baba742e.762058","type":"http in","z":"88a01a3b.6b7ab8","name":"","url":"/csvupload_post","method":"post","upload":true,"swaggerDoc":"","x":280,"y":240,"wires":[["463b1c12.e789b4","b3489fc5.bf29a"]]},{"id":"924f9387.46e9c","type":"template","z":"88a01a3b.6b7ab8","name":"css","field":"css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script>\n\n* {\n\t font-family: -apple-system, BlinkMacSystemFont, \"San Francisco\", Helvetica, Arial, sans-serif;\n\t font-weight: 300;\n\t margin: 0;\n}\n html, body {\n\t height: 100vh;\n\t width: 100vw;\n\t margin: 0 0;\n\t display: flex;\n\t align-items: flex-start;\n\t justify-content: flex-start;\n\t background: #f3f2f2;\n}\n h4 {\n\t font-size: 30px;\n\t font-weight: 600;\n\t color: #000;\n\t opacity: 0.85;\n}\n label {\n\t font-size: 12.5px;\n\t color: #000;\n\t opacity: 0.8;\n\t font-weight: 400;\n}\n form {\n\t padding: 40px 30px;\n\t background: #fefefe;\n\t display: flex;\n\t flex-direction: column;\n\t align-items: flex-start;\n\t padding-bottom: 20px;\n}\n form h4 {\n\t margin-bottom: 20px;\n\t color: rgba(0, 0, 0, .5);\n}\n form h4 span {\n\t color: rgba(0, 0, 0, 1);\n\t font-weight: 700;\n}\n form p {\n\t line-height: 155%;\n\t margin-bottom: 5px;\n\t font-size: 22px;\n\t color: #000;\n\t opacity: 0.65;\n\t font-weight: 400;\n\t max-width:500px;\n\t margin-bottom: 40px;\n}\n a.discrete {\n\t color: rgba(0, 0, 0, .4);\n\t font-size: 14px;\n\t border-bottom: solid 1px rgba(0, 0, 0, .0);\n\t padding-bottom: 4px;\n\t margin-left: auto;\n\t font-weight: 300;\n\t transition: all 0.3s ease;\n\t margin-top: 40px;\n}\n a.discrete:hover {\n\t border-bottom: solid 1px rgba(0, 0, 0, .2);\n}\n button {\n\t -webkit-appearance: none;\n\t width: auto;\n\t min-width: 100px;\n\t border-radius: 24px;\n\t text-align: center;\n\t padding: 15px 40px;\n\t margin-top: 5px;\n\t background-color: #427b7f;\n\t color: #fff;\n\t font-size: 14px;\n\t margin: auto;\n\t font-weight: 500;\n\t box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);\n\t border: none;\n\t transition: all 0.3s ease;\n\t outline: 0;\n}\n button:hover {\n\t transform: translateY(-3px);\n\t box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);\n}\n button:hover:active {\n\t transform: scale(0.99);\n}\n input {\n\t font-size: 16px;\n\t padding: 20px 0px;\n\t height: 56px;\n\t border: none;\n\t border-bottom: solid 1px rgba(0, 0, 0, .1);\n\t background: #fff;\n\t min-width: 400px;\n\t box-sizing: border-box;\n\t transition: all 0.3s linear;\n\t color: #000;\n\t font-weight: 400;\n\t -webkit-appearance: none;\n}\n input:focus {\n\t border-bottom: solid 1px #b69de6;\n\t outline: 0;\n\t box-shadow: 0 2px 6px -8px rgba(182, 157, 230, .45);\n}\n .floating-label {\n\t position: relative;\n\t margin-bottom: 10px;\n}\n .floating-label label {\n\t position: absolute;\n\t top: calc(50% - 7px);\n\t left: 0;\n\t opacity: 0;\n\t transition: all 0.3s ease;\n}\n .floating-label input:not(:placeholder-shown) {\n\t padding: 28px 0px 12px 0px;\n}\n .floating-label input:not(:placeholder-shown) + label {\n\t transform: translateY(-10px);\n\t opacity: 0.7;\n}\n .session {\n\t display: flex;\n\t flex-direction: row;\n\t width: auto;\n\t height: auto;\n\t margin: auto auto;\n\t background: #fff;\n\t border-radius: 4px;\n\t box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);\n}\n .left {\n\t width: 220px;\n\t height: auto;\n\t min-height: 100%;\n\t position: relative;\n\t background-image: url(\"https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940\");\n\t background-size: cover;\n\t border-top-left-radius: 4px;\n\t border-bottom-left-radius: 4px;\n}\n .left svg {\n\t height: 40px;\n\t width: auto;\n\t margin: 20px;\n}\n</script>\n ","output":"str","x":1570,"y":220,"wires":[["3e353887.4d2598"]]},{"id":"dbbd8de6.b53e9","type":"change","z":"88a01a3b.6b7ab8","name":"get File details","rules":[{"t":"set","p":"filename","pt":"msg","to":"path&''&tmstp&'_'&req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"},{"t":"set","p":"originalname","pt":"msg","to":"req.files[0].originalname","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":240,"wires":[["51a975c5.ac9dac"]]},{"id":"686b8243.cb064c","type":"file","z":"88a01a3b.6b7ab8","name":"save File","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1260,"y":220,"wires":[["3a811a8.0a8e3e6"]]},{"id":"51a975c5.ac9dac","type":"switch","z":"88a01a3b.6b7ab8","name":"extensionAllowed ?","property":"'csv'","propertyType":"jsonata","rules":[{"t":"cont","v":"$split(filename, '.')[-1]","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1070,"y":240,"wires":[["686b8243.cb064c"],["38cc4202.e4869e","1fbe9f6e.fd53d1"]]},{"id":"38cc4202.e4869e","type":"function","z":"88a01a3b.6b7ab8","name":"Error","func":"node.error(`Error: only csv files are allowed.`, msg)\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1270,"y":340,"wires":[]},{"id":"ce0adf4f.11ad8","type":"template","z":"88a01a3b.6b7ab8","name":"dropzone.js","field":"dropzonejs","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n/*\n *\n * More info at [www.dropzonejs.com](http://www.dropzonejs.com)\n *\n * Copyright (c) 2012, Matias Meno\n *\n * Permission is hereby granted, free of charge, to any person obtaining a copy\n * of this software and associated documentation files (the \"Software\"), to deal\n * in the Software without restriction, including without limitation the rights\n * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n * copies of the Software, and to permit persons to whom the Software is\n * furnished to do so, subject to the following conditions:\n *\n * The above copyright notice and this permission notice shall be included in\n * all copies or substantial portions of the Software.\n *\n * THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN\n * THE SOFTWARE.\n *\n */\n\n(function() {\n  var Dropzone, Emitter, camelize, contentLoaded, detectVerticalSquash, drawImageIOSFix, noop, without,\n    __slice = [].slice,\n    __hasProp = {}.hasOwnProperty,\n    __extends = function(child, parent) { for (var key in parent) { if (__hasProp.call(parent, key)) child[key] = parent[key]; } function ctor() { this.constructor = child; } ctor.prototype = parent.prototype; child.prototype = new ctor(); child.__super__ = parent.prototype; return child; };\n\n  noop = function() {};\n\n  Emitter = (function() {\n    function Emitter() {}\n\n    Emitter.prototype.addEventListener = Emitter.prototype.on;\n\n    Emitter.prototype.on = function(event, fn) {\n      this._callbacks = this._callbacks || {};\n      if (!this._callbacks[event]) {\n        this._callbacks[event] = [];\n      }\n      this._callbacks[event].push(fn);\n      return this;\n    };\n\n    Emitter.prototype.emit = function() {\n      var args, callback, callbacks, event, _i, _len;\n      event = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];\n      this._callbacks = this._callbacks || {};\n      callbacks = this._callbacks[event];\n      if (callbacks) {\n        for (_i = 0, _len = callbacks.length; _i < _len; _i++) {\n          callback = callbacks[_i];\n          callback.apply(this, args);\n        }\n      }\n      return this;\n    };\n\n    Emitter.prototype.removeListener = Emitter.prototype.off;\n\n    Emitter.prototype.removeAllListeners = Emitter.prototype.off;\n\n    Emitter.prototype.removeEventListener = Emitter.prototype.off;\n\n    Emitter.prototype.off = function(event, fn) {\n      var callback, callbacks, i, _i, _len;\n      if (!this._callbacks || arguments.length === 0) {\n        this._callbacks = {};\n        return this;\n      }\n      callbacks = this._callbacks[event];\n      if (!callbacks) {\n        return this;\n      }\n      if (arguments.length === 1) {\n        delete this._callbacks[event];\n        return this;\n      }\n      for (i = _i = 0, _len = callbacks.length; _i < _len; i = ++_i) {\n        callback = callbacks[i];\n        if (callback === fn) {\n          callbacks.splice(i, 1);\n          break;\n        }\n      }\n      return this;\n    };\n\n    return Emitter;\n\n  })();\n\n  Dropzone = (function(_super) {\n    var extend, resolveOption;\n\n    __extends(Dropzone, _super);\n\n    Dropzone.prototype.Emitter = Emitter;\n\n\n    /*\n    This is a list of all available events you can register on a dropzone object.\n    \n    You can register an event handler like this:\n    \n        dropzone.on(\"dragEnter\", function() { });\n     */\n\n    Dropzone.prototype.events = [\"drop\", \"dragstart\", \"dragend\", \"dragenter\", \"dragover\", \"dragleave\", \"addedfile\", \"addedfiles\", \"removedfile\", \"thumbnail\", \"error\", \"errormultiple\", \"processing\", \"processingmultiple\", \"uploadprogress\", \"totaluploadprogress\", \"sending\", \"sendingmultiple\", \"success\", \"successmultiple\", \"canceled\", \"canceledmultiple\", \"complete\", \"completemultiple\", \"reset\", \"maxfilesexceeded\", \"maxfilesreached\", \"queuecomplete\"];\n\n    Dropzone.prototype.defaultOptions = {\n      url: null,\n      method: \"post\",\n      withCredentials: false,\n      parallelUploads: 2,\n      uploadMultiple: false,\n      maxFilesize: 256,\n      paramName: \"file\",\n      createImageThumbnails: true,\n      maxThumbnailFilesize: 10,\n      thumbnailWidth: 120,\n      thumbnailHeight: 120,\n      filesizeBase: 1000,\n      maxFiles: null,\n      params: {},\n      clickable: true,\n      ignoreHiddenFiles: true,\n      acceptedFiles: null,\n      acceptedMimeTypes: null,\n      autoProcessQueue: true,\n      autoQueue: true,\n      addRemoveLinks: false,\n      previewsContainer: null,\n      hiddenInputContainer: \"body\",\n      capture: null,\n      renameFilename: null,\n      dictDefaultMessage: \"Drop files here to upload\",\n      dictFallbackMessage: \"Your browser does not support drag'n'drop file uploads.\",\n      dictFallbackText: \"Please use the fallback form below to upload your files like in the olden days.\",\n      dictFileTooBig: \"File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.\",\n      dictInvalidFileType: \"You can't upload files of this type.\",\n      dictResponseError: \"Server responded with {{statusCode}} code.\",\n      dictCancelUpload: \"Cancel upload\",\n      dictCancelUploadConfirmation: \"Are you sure you want to cancel this upload?\",\n      dictRemoveFile: \"Remove file\",\n      dictRemoveFileConfirmation: null,\n      dictMaxFilesExceeded: \"You can not upload any more files.\",\n      accept: function(file, done) {\n        return done();\n      },\n      init: function() {\n        return noop;\n      },\n      forceFallback: false,\n      fallback: function() {\n        var child, messageElement, span, _i, _len, _ref;\n        this.element.className = \"\" + this.element.className + \" dz-browser-not-supported\";\n        _ref = this.element.getElementsByTagName(\"div\");\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          child = _ref[_i];\n          if (/(^| )dz-message($| )/.test(child.className)) {\n            messageElement = child;\n            child.className = \"dz-message\";\n            continue;\n          }\n        }\n        if (!messageElement) {\n          messageElement = Dropzone.createElement(\"<div class=\\\"dz-message\\\"><span></span></div>\");\n          this.element.appendChild(messageElement);\n        }\n        span = messageElement.getElementsByTagName(\"span\")[0];\n        if (span) {\n          if (span.textContent != null) {\n            span.textContent = this.options.dictFallbackMessage;\n          } else if (span.innerText != null) {\n            span.innerText = this.options.dictFallbackMessage;\n          }\n        }\n        return this.element.appendChild(this.getFallbackForm());\n      },\n      resize: function(file) {\n        var info, srcRatio, trgRatio;\n        info = {\n          srcX: 0,\n          srcY: 0,\n          srcWidth: file.width,\n          srcHeight: file.height\n        };\n        srcRatio = file.width / file.height;\n        info.optWidth = this.options.thumbnailWidth;\n        info.optHeight = this.options.thumbnailHeight;\n        if ((info.optWidth == null) && (info.optHeight == null)) {\n          info.optWidth = info.srcWidth;\n          info.optHeight = info.srcHeight;\n        } else if (info.optWidth == null) {\n          info.optWidth = srcRatio * info.optHeight;\n        } else if (info.optHeight == null) {\n          info.optHeight = (1 / srcRatio) * info.optWidth;\n        }\n        trgRatio = info.optWidth / info.optHeight;\n        if (file.height < info.optHeight || file.width < info.optWidth) {\n          info.trgHeight = info.srcHeight;\n          info.trgWidth = info.srcWidth;\n        } else {\n          if (srcRatio > trgRatio) {\n            info.srcHeight = file.height;\n            info.srcWidth = info.srcHeight * trgRatio;\n          } else {\n            info.srcWidth = file.width;\n            info.srcHeight = info.srcWidth / trgRatio;\n          }\n        }\n        info.srcX = (file.width - info.srcWidth) / 2;\n        info.srcY = (file.height - info.srcHeight) / 2;\n        return info;\n      },\n\n      /*\n      Those functions register themselves to the events on init and handle all\n      the user interface specific stuff. Overwriting them won't break the upload\n      but can break the way it's displayed.\n      You can overwrite them if you don't like the default behavior. If you just\n      want to add an additional event handler, register it on the dropzone object\n      and don't overwrite those options.\n       */\n      drop: function(e) {\n        return this.element.classList.remove(\"dz-drag-hover\");\n      },\n      dragstart: noop,\n      dragend: function(e) {\n        return this.element.classList.remove(\"dz-drag-hover\");\n      },\n      dragenter: function(e) {\n        return this.element.classList.add(\"dz-drag-hover\");\n      },\n      dragover: function(e) {\n        return this.element.classList.add(\"dz-drag-hover\");\n      },\n      dragleave: function(e) {\n        return this.element.classList.remove(\"dz-drag-hover\");\n      },\n      paste: noop,\n      reset: function() {\n        return this.element.classList.remove(\"dz-started\");\n      },\n      addedfile: function(file) {\n        var node, removeFileEvent, removeLink, _i, _j, _k, _len, _len1, _len2, _ref, _ref1, _ref2, _results;\n        if (this.element === this.previewsContainer) {\n          this.element.classList.add(\"dz-started\");\n        }\n        if (this.previewsContainer) {\n          file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());\n          file.previewTemplate = file.previewElement;\n          this.previewsContainer.appendChild(file.previewElement);\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-name]\");\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            node = _ref[_i];\n            node.textContent = this._renameFilename(file.name);\n          }\n          _ref1 = file.previewElement.querySelectorAll(\"[data-dz-size]\");\n          for (_j = 0, _len1 = _ref1.length; _j < _len1; _j++) {\n            node = _ref1[_j];\n            node.innerHTML = this.filesize(file.size);\n          }\n          if (this.options.addRemoveLinks) {\n            file._removeLink = Dropzone.createElement(\"<a class=\\\"dz-remove\\\" href=\\\"javascript:undefined;\\\" data-dz-remove>\" + this.options.dictRemoveFile + \"</a>\");\n            file.previewElement.appendChild(file._removeLink);\n          }\n          removeFileEvent = (function(_this) {\n            return function(e) {\n              e.preventDefault();\n              e.stopPropagation();\n              if (file.status === Dropzone.UPLOADING) {\n                return Dropzone.confirm(_this.options.dictCancelUploadConfirmation, function() {\n                  return _this.removeFile(file);\n                });\n              } else {\n                if (_this.options.dictRemoveFileConfirmation) {\n                  return Dropzone.confirm(_this.options.dictRemoveFileConfirmation, function() {\n                    return _this.removeFile(file);\n                  });\n                } else {\n                  return _this.removeFile(file);\n                }\n              }\n            };\n          })(this);\n          _ref2 = file.previewElement.querySelectorAll(\"[data-dz-remove]\");\n          _results = [];\n          for (_k = 0, _len2 = _ref2.length; _k < _len2; _k++) {\n            removeLink = _ref2[_k];\n            _results.push(removeLink.addEventListener(\"click\", removeFileEvent));\n          }\n          return _results;\n        }\n      },\n      removedfile: function(file) {\n        var _ref;\n        if (file.previewElement) {\n          if ((_ref = file.previewElement) != null) {\n            _ref.parentNode.removeChild(file.previewElement);\n          }\n        }\n        return this._updateMaxFilesReachedClass();\n      },\n      thumbnail: function(file, dataUrl) {\n        var thumbnailElement, _i, _len, _ref;\n        if (file.previewElement) {\n          file.previewElement.classList.remove(\"dz-file-preview\");\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-thumbnail]\");\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            thumbnailElement = _ref[_i];\n            thumbnailElement.alt = file.name;\n            thumbnailElement.src = dataUrl;\n          }\n          return setTimeout(((function(_this) {\n            return function() {\n              return file.previewElement.classList.add(\"dz-image-preview\");\n            };\n          })(this)), 1);\n        }\n      },\n      error: function(file, message) {\n        var node, _i, _len, _ref, _results;\n        if (file.previewElement) {\n          file.previewElement.classList.add(\"dz-error\");\n          if (typeof message !== \"String\" && message.error) {\n            message = message.error;\n          }\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-errormessage]\");\n          _results = [];\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            node = _ref[_i];\n            _results.push(node.textContent = message);\n          }\n          return _results;\n        }\n      },\n      errormultiple: noop,\n      processing: function(file) {\n        if (file.previewElement) {\n          file.previewElement.classList.add(\"dz-processing\");\n          if (file._removeLink) {\n            return file._removeLink.textContent = this.options.dictCancelUpload;\n          }\n        }\n      },\n      processingmultiple: noop,\n      uploadprogress: function(file, progress, bytesSent) {\n        var node, _i, _len, _ref, _results;\n        if (file.previewElement) {\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-uploadprogress]\");\n          _results = [];\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            node = _ref[_i];\n            if (node.nodeName === 'PROGRESS') {\n              _results.push(node.value = progress);\n            } else {\n              _results.push(node.style.width = \"\" + progress + \"%\");\n            }\n          }\n          return _results;\n        }\n      },\n      totaluploadprogress: noop,\n      sending: noop,\n      sendingmultiple: noop,\n      success: function(file) {\n        if (file.previewElement) {\n          return file.previewElement.classList.add(\"dz-success\");\n        }\n      },\n      successmultiple: noop,\n      canceled: function(file) {\n        return this.emit(\"error\", file, \"Upload canceled.\");\n      },\n      canceledmultiple: noop,\n      complete: function(file) {\n        if (file._removeLink) {\n          file._removeLink.textContent = this.options.dictRemoveFile;\n        }\n        if (file.previewElement) {\n          return file.previewElement.classList.add(\"dz-complete\");\n        }\n      },\n      completemultiple: noop,\n      maxfilesexceeded: noop,\n      maxfilesreached: noop,\n      queuecomplete: noop,\n      addedfiles: noop,\n      previewTemplate: \"<div class=\\\"dz-preview dz-file-preview\\\">\\n  <div class=\\\"dz-image\\\"><img data-dz-thumbnail /></div>\\n  <div class=\\\"dz-details\\\">\\n    <div class=\\\"dz-size\\\"><span data-dz-size></span></div>\\n    <div class=\\\"dz-filename\\\"><span data-dz-name></span></div>\\n  </div>\\n  <div class=\\\"dz-progress\\\"><span class=\\\"dz-upload\\\" data-dz-uploadprogress></span></div>\\n  <div class=\\\"dz-error-message\\\"><span data-dz-errormessage></span></div>\\n  <div class=\\\"dz-success-mark\\\">\\n    <svg width=\\\"54px\\\" height=\\\"54px\\\" viewBox=\\\"0 0 54 54\\\" version=\\\"1.1\\\" xmlns=\\\"http://www.w3.org/2000/svg\\\" xmlns:xlink=\\\"http://www.w3.org/1999/xlink\\\" xmlns:sketch=\\\"http://www.bohemiancoding.com/sketch/ns\\\">\\n      <title>Check</title>\\n      <defs></defs>\\n      <g id=\\\"Page-1\\\" stroke=\\\"none\\\" stroke-width=\\\"1\\\" fill=\\\"none\\\" fill-rule=\\\"evenodd\\\" sketch:type=\\\"MSPage\\\">\\n        <path d=\\\"M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z\\\" id=\\\"Oval-2\\\" stroke-opacity=\\\"0.198794158\\\" stroke=\\\"#747474\\\" fill-opacity=\\\"0.816519475\\\" fill=\\\"#FFFFFF\\\" sketch:type=\\\"MSShapeGroup\\\"></path>\\n      </g>\\n    </svg>\\n  </div>\\n  <div class=\\\"dz-error-mark\\\">\\n    <svg width=\\\"54px\\\" height=\\\"54px\\\" viewBox=\\\"0 0 54 54\\\" version=\\\"1.1\\\" xmlns=\\\"http://www.w3.org/2000/svg\\\" xmlns:xlink=\\\"http://www.w3.org/1999/xlink\\\" xmlns:sketch=\\\"http://www.bohemiancoding.com/sketch/ns\\\">\\n      <title>Error</title>\\n      <defs></defs>\\n      <g id=\\\"Page-1\\\" stroke=\\\"none\\\" stroke-width=\\\"1\\\" fill=\\\"none\\\" fill-rule=\\\"evenodd\\\" sketch:type=\\\"MSPage\\\">\\n        <g id=\\\"Check-+-Oval-2\\\" sketch:type=\\\"MSLayerGroup\\\" stroke=\\\"#747474\\\" stroke-opacity=\\\"0.198794158\\\" fill=\\\"#FFFFFF\\\" fill-opacity=\\\"0.816519475\\\">\\n          <path d=\\\"M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z\\\" id=\\\"Oval-2\\\" sketch:type=\\\"MSShapeGroup\\\"></path>\\n        </g>\\n      </g>\\n    </svg>\\n  </div>\\n</div>\"\n    };\n\n    extend = function() {\n      var key, object, objects, target, val, _i, _len;\n      target = arguments[0], objects = 2 <= arguments.length ? __slice.call(arguments, 1) : [];\n      for (_i = 0, _len = objects.length; _i < _len; _i++) {\n        object = objects[_i];\n        for (key in object) {\n          val = object[key];\n          target[key] = val;\n        }\n      }\n      return target;\n    };\n\n    function Dropzone(element, options) {\n      var elementOptions, fallback, _ref;\n      this.element = element;\n      this.version = Dropzone.version;\n      this.defaultOptions.previewTemplate = this.defaultOptions.previewTemplate.replace(/\\n*/g, \"\");\n      this.clickableElements = [];\n      this.listeners = [];\n      this.files = [];\n      if (typeof this.element === \"string\") {\n        this.element = document.querySelector(this.element);\n      }\n      if (!(this.element && (this.element.nodeType != null))) {\n        throw new Error(\"Invalid dropzone element.\");\n      }\n      if (this.element.dropzone) {\n        throw new Error(\"Dropzone already attached.\");\n      }\n      Dropzone.instances.push(this);\n      this.element.dropzone = this;\n      elementOptions = (_ref = Dropzone.optionsForElement(this.element)) != null ? _ref : {};\n      this.options = extend({}, this.defaultOptions, elementOptions, options != null ? options : {});\n      if (this.options.forceFallback || !Dropzone.isBrowserSupported()) {\n        return this.options.fallback.call(this);\n      }\n      if (this.options.url == null) {\n        this.options.url = this.element.getAttribute(\"action\");\n      }\n      if (!this.options.url) {\n        throw new Error(\"No URL provided.\");\n      }\n      if (this.options.acceptedFiles && this.options.acceptedMimeTypes) {\n        throw new Error(\"You can't provide both 'acceptedFiles' and 'acceptedMimeTypes'. 'acceptedMimeTypes' is deprecated.\");\n      }\n      if (this.options.acceptedMimeTypes) {\n        this.options.acceptedFiles = this.options.acceptedMimeTypes;\n        delete this.options.acceptedMimeTypes;\n      }\n      this.options.method = this.options.method.toUpperCase();\n      if ((fallback = this.getExistingFallback()) && fallback.parentNode) {\n        fallback.parentNode.removeChild(fallback);\n      }\n      if (this.options.previewsContainer !== false) {\n        if (this.options.previewsContainer) {\n          this.previewsContainer = Dropzone.getElement(this.options.previewsContainer, \"previewsContainer\");\n        } else {\n          this.previewsContainer = this.element;\n        }\n      }\n      if (this.options.clickable) {\n        if (this.options.clickable === true) {\n          this.clickableElements = [this.element];\n        } else {\n          this.clickableElements = Dropzone.getElements(this.options.clickable, \"clickable\");\n        }\n      }\n      this.init();\n    }\n\n    Dropzone.prototype.getAcceptedFiles = function() {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.accepted) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.getRejectedFiles = function() {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (!file.accepted) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.getFilesWithStatus = function(status) {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.status === status) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.getQueuedFiles = function() {\n      return this.getFilesWithStatus(Dropzone.QUEUED);\n    };\n\n    Dropzone.prototype.getUploadingFiles = function() {\n      return this.getFilesWithStatus(Dropzone.UPLOADING);\n    };\n\n    Dropzone.prototype.getAddedFiles = function() {\n      return this.getFilesWithStatus(Dropzone.ADDED);\n    };\n\n    Dropzone.prototype.getActiveFiles = function() {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.status === Dropzone.UPLOADING || file.status === Dropzone.QUEUED) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.init = function() {\n      var eventName, noPropagation, setupHiddenFileInput, _i, _len, _ref, _ref1;\n      if (this.element.tagName === \"form\") {\n        this.element.setAttribute(\"enctype\", \"multipart/form-data\");\n      }\n      if (this.element.classList.contains(\"dropzone\") && !this.element.querySelector(\".dz-message\")) {\n        this.element.appendChild(Dropzone.createElement(\"<div class=\\\"dz-default dz-message\\\"><span>\" + this.options.dictDefaultMessage + \"</span></div>\"));\n      }\n      if (this.clickableElements.length) {\n        setupHiddenFileInput = (function(_this) {\n          return function() {\n            if (_this.hiddenFileInput) {\n              _this.hiddenFileInput.parentNode.removeChild(_this.hiddenFileInput);\n            }\n            _this.hiddenFileInput = document.createElement(\"input\");\n            _this.hiddenFileInput.setAttribute(\"type\", \"file\");\n            if ((_this.options.maxFiles == null) || _this.options.maxFiles > 1) {\n              _this.hiddenFileInput.setAttribute(\"multiple\", \"multiple\");\n            }\n            _this.hiddenFileInput.className = \"dz-hidden-input\";\n            if (_this.options.acceptedFiles != null) {\n              _this.hiddenFileInput.setAttribute(\"accept\", _this.options.acceptedFiles);\n            }\n            if (_this.options.capture != null) {\n              _this.hiddenFileInput.setAttribute(\"capture\", _this.options.capture);\n            }\n            _this.hiddenFileInput.style.visibility = \"hidden\";\n            _this.hiddenFileInput.style.position = \"absolute\";\n            _this.hiddenFileInput.style.top = \"0\";\n            _this.hiddenFileInput.style.left = \"0\";\n            _this.hiddenFileInput.style.height = \"0\";\n            _this.hiddenFileInput.style.width = \"0\";\n            document.querySelector(_this.options.hiddenInputContainer).appendChild(_this.hiddenFileInput);\n            return _this.hiddenFileInput.addEventListener(\"change\", function() {\n              var file, files, _i, _len;\n              files = _this.hiddenFileInput.files;\n              if (files.length) {\n                for (_i = 0, _len = files.length; _i < _len; _i++) {\n                  file = files[_i];\n                  _this.addFile(file);\n                }\n              }\n              _this.emit(\"addedfiles\", files);\n              return setupHiddenFileInput();\n            });\n          };\n        })(this);\n        setupHiddenFileInput();\n      }\n      this.URL = (_ref = window.URL) != null ? _ref : window.webkitURL;\n      _ref1 = this.events;\n      for (_i = 0, _len = _ref1.length; _i < _len; _i++) {\n        eventName = _ref1[_i];\n        this.on(eventName, this.options[eventName]);\n      }\n      this.on(\"uploadprogress\", (function(_this) {\n        return function() {\n          return _this.updateTotalUploadProgress();\n        };\n      })(this));\n      this.on(\"removedfile\", (function(_this) {\n        return function() {\n          return _this.updateTotalUploadProgress();\n        };\n      })(this));\n      this.on(\"canceled\", (function(_this) {\n        return function(file) {\n          return _this.emit(\"complete\", file);\n        };\n      })(this));\n      this.on(\"complete\", (function(_this) {\n        return function(file) {\n          if (_this.getAddedFiles().length === 0 && _this.getUploadingFiles().length === 0 && _this.getQueuedFiles().length === 0) {\n            return setTimeout((function() {\n              return _this.emit(\"queuecomplete\");\n            }), 0);\n          }\n        };\n      })(this));\n      noPropagation = function(e) {\n        e.stopPropagation();\n        if (e.preventDefault) {\n          return e.preventDefault();\n        } else {\n          return e.returnValue = false;\n        }\n      };\n      this.listeners = [\n        {\n          element: this.element,\n          events: {\n            \"dragstart\": (function(_this) {\n              return function(e) {\n                return _this.emit(\"dragstart\", e);\n              };\n            })(this),\n            \"dragenter\": (function(_this) {\n              return function(e) {\n                noPropagation(e);\n                return _this.emit(\"dragenter\", e);\n              };\n            })(this),\n            \"dragover\": (function(_this) {\n              return function(e) {\n                var efct;\n                try {\n                  efct = e.dataTransfer.effectAllowed;\n                } catch (_error) {}\n                e.dataTransfer.dropEffect = 'move' === efct || 'linkMove' === efct ? 'move' : 'copy';\n                noPropagation(e);\n                return _this.emit(\"dragover\", e);\n              };\n            })(this),\n            \"dragleave\": (function(_this) {\n              return function(e) {\n                return _this.emit(\"dragleave\", e);\n              };\n            })(this),\n            \"drop\": (function(_this) {\n              return function(e) {\n                noPropagation(e);\n                return _this.drop(e);\n              };\n            })(this),\n            \"dragend\": (function(_this) {\n              return function(e) {\n                return _this.emit(\"dragend\", e);\n              };\n            })(this)\n          }\n        }\n      ];\n      this.clickableElements.forEach((function(_this) {\n        return function(clickableElement) {\n          return _this.listeners.push({\n            element: clickableElement,\n            events: {\n              \"click\": function(evt) {\n                if ((clickableElement !== _this.element) || (evt.target === _this.element || Dropzone.elementInside(evt.target, _this.element.querySelector(\".dz-message\")))) {\n                  _this.hiddenFileInput.click();\n                }\n                return true;\n              }\n            }\n          });\n        };\n      })(this));\n      this.enable();\n      return this.options.init.call(this);\n    };\n\n    Dropzone.prototype.destroy = function() {\n      var _ref;\n      this.disable();\n      this.removeAllFiles(true);\n      if ((_ref = this.hiddenFileInput) != null ? _ref.parentNode : void 0) {\n        this.hiddenFileInput.parentNode.removeChild(this.hiddenFileInput);\n        this.hiddenFileInput = null;\n      }\n      delete this.element.dropzone;\n      return Dropzone.instances.splice(Dropzone.instances.indexOf(this), 1);\n    };\n\n    Dropzone.prototype.updateTotalUploadProgress = function() {\n      var activeFiles, file, totalBytes, totalBytesSent, totalUploadProgress, _i, _len, _ref;\n      totalBytesSent = 0;\n      totalBytes = 0;\n      activeFiles = this.getActiveFiles();\n      if (activeFiles.length) {\n        _ref = this.getActiveFiles();\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          file = _ref[_i];\n          totalBytesSent += file.upload.bytesSent;\n          totalBytes += file.upload.total;\n        }\n        totalUploadProgress = 100 * totalBytesSent / totalBytes;\n      } else {\n        totalUploadProgress = 100;\n      }\n      return this.emit(\"totaluploadprogress\", totalUploadProgress, totalBytes, totalBytesSent);\n    };\n\n    Dropzone.prototype._getParamName = function(n) {\n      if (typeof this.options.paramName === \"function\") {\n        return this.options.paramName(n);\n      } else {\n        return \"\" + this.options.paramName + (this.options.uploadMultiple ? \"[\" + n + \"]\" : \"\");\n      }\n    };\n\n    Dropzone.prototype._renameFilename = function(name) {\n      if (typeof this.options.renameFilename !== \"function\") {\n        return name;\n      }\n      return this.options.renameFilename(name);\n    };\n\n    Dropzone.prototype.getFallbackForm = function() {\n      var existingFallback, fields, fieldsString, form;\n      if (existingFallback = this.getExistingFallback()) {\n        return existingFallback;\n      }\n      fieldsString = \"<div class=\\\"dz-fallback\\\">\";\n      if (this.options.dictFallbackText) {\n        fieldsString += \"<p>\" + this.options.dictFallbackText + \"</p>\";\n      }\n      fieldsString += \"<input type=\\\"file\\\" name=\\\"\" + (this._getParamName(0)) + \"\\\" \" + (this.options.uploadMultiple ? 'multiple=\"multiple\"' : void 0) + \" /><input type=\\\"submit\\\" value=\\\"Upload!\\\"></div>\";\n      fields = Dropzone.createElement(fieldsString);\n      if (this.element.tagName !== \"FORM\") {\n        form = Dropzone.createElement(\"<form action=\\\"\" + this.options.url + \"\\\" enctype=\\\"multipart/form-data\\\" method=\\\"\" + this.options.method + \"\\\"></form>\");\n        form.appendChild(fields);\n      } else {\n        this.element.setAttribute(\"enctype\", \"multipart/form-data\");\n        this.element.setAttribute(\"method\", this.options.method);\n      }\n      return form != null ? form : fields;\n    };\n\n    Dropzone.prototype.getExistingFallback = function() {\n      var fallback, getFallback, tagName, _i, _len, _ref;\n      getFallback = function(elements) {\n        var el, _i, _len;\n        for (_i = 0, _len = elements.length; _i < _len; _i++) {\n          el = elements[_i];\n          if (/(^| )fallback($| )/.test(el.className)) {\n            return el;\n          }\n        }\n      };\n      _ref = [\"div\", \"form\"];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        tagName = _ref[_i];\n        if (fallback = getFallback(this.element.getElementsByTagName(tagName))) {\n          return fallback;\n        }\n      }\n    };\n\n    Dropzone.prototype.setupEventListeners = function() {\n      var elementListeners, event, listener, _i, _len, _ref, _results;\n      _ref = this.listeners;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        elementListeners = _ref[_i];\n        _results.push((function() {\n          var _ref1, _results1;\n          _ref1 = elementListeners.events;\n          _results1 = [];\n          for (event in _ref1) {\n            listener = _ref1[event];\n            _results1.push(elementListeners.element.addEventListener(event, listener, false));\n          }\n          return _results1;\n        })());\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.removeEventListeners = function() {\n      var elementListeners, event, listener, _i, _len, _ref, _results;\n      _ref = this.listeners;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        elementListeners = _ref[_i];\n        _results.push((function() {\n          var _ref1, _results1;\n          _ref1 = elementListeners.events;\n          _results1 = [];\n          for (event in _ref1) {\n            listener = _ref1[event];\n            _results1.push(elementListeners.element.removeEventListener(event, listener, false));\n          }\n          return _results1;\n        })());\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.disable = function() {\n      var file, _i, _len, _ref, _results;\n      this.clickableElements.forEach(function(element) {\n        return element.classList.remove(\"dz-clickable\");\n      });\n      this.removeEventListeners();\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        _results.push(this.cancelUpload(file));\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.enable = function() {\n      this.clickableElements.forEach(function(element) {\n        return element.classList.add(\"dz-clickable\");\n      });\n      return this.setupEventListeners();\n    };\n\n    Dropzone.prototype.filesize = function(size) {\n      var cutoff, i, selectedSize, selectedUnit, unit, units, _i, _len;\n      selectedSize = 0;\n      selectedUnit = \"b\";\n      if (size > 0) {\n        units = ['TB', 'GB', 'MB', 'KB', 'b'];\n        for (i = _i = 0, _len = units.length; _i < _len; i = ++_i) {\n          unit = units[i];\n          cutoff = Math.pow(this.options.filesizeBase, 4 - i) / 10;\n          if (size >= cutoff) {\n            selectedSize = size / Math.pow(this.options.filesizeBase, 4 - i);\n            selectedUnit = unit;\n            break;\n          }\n        }\n        selectedSize = Math.round(10 * selectedSize) / 10;\n      }\n      return \"<strong>\" + selectedSize + \"</strong> \" + selectedUnit;\n    };\n\n    Dropzone.prototype._updateMaxFilesReachedClass = function() {\n      if ((this.options.maxFiles != null) && this.getAcceptedFiles().length >= this.options.maxFiles) {\n        if (this.getAcceptedFiles().length === this.options.maxFiles) {\n          this.emit('maxfilesreached', this.files);\n        }\n        return this.element.classList.add(\"dz-max-files-reached\");\n      } else {\n        return this.element.classList.remove(\"dz-max-files-reached\");\n      }\n    };\n\n    Dropzone.prototype.drop = function(e) {\n      var files, items;\n      if (!e.dataTransfer) {\n        return;\n      }\n      this.emit(\"drop\", e);\n      files = e.dataTransfer.files;\n      this.emit(\"addedfiles\", files);\n      if (files.length) {\n        items = e.dataTransfer.items;\n        if (items && items.length && (items[0].webkitGetAsEntry != null)) {\n          this._addFilesFromItems(items);\n        } else {\n          this.handleFiles(files);\n        }\n      }\n    };\n\n    Dropzone.prototype.paste = function(e) {\n      var items, _ref;\n      if ((e != null ? (_ref = e.clipboardData) != null ? _ref.items : void 0 : void 0) == null) {\n        return;\n      }\n      this.emit(\"paste\", e);\n      items = e.clipboardData.items;\n      if (items.length) {\n        return this._addFilesFromItems(items);\n      }\n    };\n\n    Dropzone.prototype.handleFiles = function(files) {\n      var file, _i, _len, _results;\n      _results = [];\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        _results.push(this.addFile(file));\n      }\n      return _results;\n    };\n\n    Dropzone.prototype._addFilesFromItems = function(items) {\n      var entry, item, _i, _len, _results;\n      _results = [];\n      for (_i = 0, _len = items.length; _i < _len; _i++) {\n        item = items[_i];\n        if ((item.webkitGetAsEntry != null) && (entry = item.webkitGetAsEntry())) {\n          if (entry.isFile) {\n            _results.push(this.addFile(item.getAsFile()));\n          } else if (entry.isDirectory) {\n            _results.push(this._addFilesFromDirectory(entry, entry.name));\n          } else {\n            _results.push(void 0);\n          }\n        } else if (item.getAsFile != null) {\n          if ((item.kind == null) || item.kind === \"file\") {\n            _results.push(this.addFile(item.getAsFile()));\n          } else {\n            _results.push(void 0);\n          }\n        } else {\n          _results.push(void 0);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype._addFilesFromDirectory = function(directory, path) {\n      var dirReader, errorHandler, readEntries;\n      dirReader = directory.createReader();\n      errorHandler = function(error) {\n        return typeof console !== \"undefined\" && console !== null ? typeof console.log === \"function\" ? console.log(error) : void 0 : void 0;\n      };\n      readEntries = (function(_this) {\n        return function() {\n          return dirReader.readEntries(function(entries) {\n            var entry, _i, _len;\n            if (entries.length > 0) {\n              for (_i = 0, _len = entries.length; _i < _len; _i++) {\n                entry = entries[_i];\n                if (entry.isFile) {\n                  entry.file(function(file) {\n                    if (_this.options.ignoreHiddenFiles && file.name.substring(0, 1) === '.') {\n                      return;\n                    }\n                    file.fullPath = \"\" + path + \"/\" + file.name;\n                    return _this.addFile(file);\n                  });\n                } else if (entry.isDirectory) {\n                  _this._addFilesFromDirectory(entry, \"\" + path + \"/\" + entry.name);\n                }\n              }\n              readEntries();\n            }\n            return null;\n          }, errorHandler);\n        };\n      })(this);\n      return readEntries();\n    };\n\n    Dropzone.prototype.accept = function(file, done) {\n      if (file.size > this.options.maxFilesize * 1024 * 1024) {\n        return done(this.options.dictFileTooBig.replace(\"{{filesize}}\", Math.round(file.size / 1024 / 10.24) / 100).replace(\"{{maxFilesize}}\", this.options.maxFilesize));\n      } else if (!Dropzone.isValidFile(file, this.options.acceptedFiles)) {\n        return done(this.options.dictInvalidFileType);\n      } else if ((this.options.maxFiles != null) && this.getAcceptedFiles().length >= this.options.maxFiles) {\n        done(this.options.dictMaxFilesExceeded.replace(\"{{maxFiles}}\", this.options.maxFiles));\n        return this.emit(\"maxfilesexceeded\", file);\n      } else {\n        return this.options.accept.call(this, file, done);\n      }\n    };\n\n    Dropzone.prototype.addFile = function(file) {\n      file.upload = {\n        progress: 0,\n        total: file.size,\n        bytesSent: 0\n      };\n      this.files.push(file);\n      file.status = Dropzone.ADDED;\n      this.emit(\"addedfile\", file);\n      this._enqueueThumbnail(file);\n      return this.accept(file, (function(_this) {\n        return function(error) {\n          if (error) {\n            file.accepted = false;\n            _this._errorProcessing([file], error);\n          } else {\n            file.accepted = true;\n            if (_this.options.autoQueue) {\n              _this.enqueueFile(file);\n            }\n          }\n          return _this._updateMaxFilesReachedClass();\n        };\n      })(this));\n    };\n\n    Dropzone.prototype.enqueueFiles = function(files) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        this.enqueueFile(file);\n      }\n      return null;\n    };\n\n    Dropzone.prototype.enqueueFile = function(file) {\n      if (file.status === Dropzone.ADDED && file.accepted === true) {\n        file.status = Dropzone.QUEUED;\n        if (this.options.autoProcessQueue) {\n          return setTimeout(((function(_this) {\n            return function() {\n              return _this.processQueue();\n            };\n          })(this)), 0);\n        }\n      } else {\n        throw new Error(\"This file can't be queued because it has already been processed or was rejected.\");\n      }\n    };\n\n    Dropzone.prototype._thumbnailQueue = [];\n\n    Dropzone.prototype._processingThumbnail = false;\n\n    Dropzone.prototype._enqueueThumbnail = function(file) {\n      if (this.options.createImageThumbnails && file.type.match(/image.*/) && file.size <= this.options.maxThumbnailFilesize * 1024 * 1024) {\n        this._thumbnailQueue.push(file);\n        return setTimeout(((function(_this) {\n          return function() {\n            return _this._processThumbnailQueue();\n          };\n        })(this)), 0);\n      }\n    };\n\n    Dropzone.prototype._processThumbnailQueue = function() {\n      if (this._processingThumbnail || this._thumbnailQueue.length === 0) {\n        return;\n      }\n      this._processingThumbnail = true;\n      return this.createThumbnail(this._thumbnailQueue.shift(), (function(_this) {\n        return function() {\n          _this._processingThumbnail = false;\n          return _this._processThumbnailQueue();\n        };\n      })(this));\n    };\n\n    Dropzone.prototype.removeFile = function(file) {\n      if (file.status === Dropzone.UPLOADING) {\n        this.cancelUpload(file);\n      }\n      this.files = without(this.files, file);\n      this.emit(\"removedfile\", file);\n      if (this.files.length === 0) {\n        return this.emit(\"reset\");\n      }\n    };\n\n    Dropzone.prototype.removeAllFiles = function(cancelIfNecessary) {\n      var file, _i, _len, _ref;\n      if (cancelIfNecessary == null) {\n        cancelIfNecessary = false;\n      }\n      _ref = this.files.slice();\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.status !== Dropzone.UPLOADING || cancelIfNecessary) {\n          this.removeFile(file);\n        }\n      }\n      return null;\n    };\n\n    Dropzone.prototype.createThumbnail = function(file, callback) {\n      var fileReader;\n      fileReader = new FileReader;\n      fileReader.onload = (function(_this) {\n        return function() {\n          if (file.type === \"image/svg+xml\") {\n            _this.emit(\"thumbnail\", file, fileReader.result);\n            if (callback != null) {\n              callback();\n            }\n            return;\n          }\n          return _this.createThumbnailFromUrl(file, fileReader.result, callback);\n        };\n      })(this);\n      return fileReader.readAsDataURL(file);\n    };\n\n    Dropzone.prototype.createThumbnailFromUrl = function(file, imageUrl, callback, crossOrigin) {\n      var img;\n      img = document.createElement(\"img\");\n      if (crossOrigin) {\n        img.crossOrigin = crossOrigin;\n      }\n      img.onload = (function(_this) {\n        return function() {\n          var canvas, ctx, resizeInfo, thumbnail, _ref, _ref1, _ref2, _ref3;\n          file.width = img.width;\n          file.height = img.height;\n          resizeInfo = _this.options.resize.call(_this, file);\n          if (resizeInfo.trgWidth == null) {\n            resizeInfo.trgWidth = resizeInfo.optWidth;\n          }\n          if (resizeInfo.trgHeight == null) {\n            resizeInfo.trgHeight = resizeInfo.optHeight;\n          }\n          canvas = document.createElement(\"canvas\");\n          ctx = canvas.getContext(\"2d\");\n          canvas.width = resizeInfo.trgWidth;\n          canvas.height = resizeInfo.trgHeight;\n          drawImageIOSFix(ctx, img, (_ref = resizeInfo.srcX) != null ? _ref : 0, (_ref1 = resizeInfo.srcY) != null ? _ref1 : 0, resizeInfo.srcWidth, resizeInfo.srcHeight, (_ref2 = resizeInfo.trgX) != null ? _ref2 : 0, (_ref3 = resizeInfo.trgY) != null ? _ref3 : 0, resizeInfo.trgWidth, resizeInfo.trgHeight);\n          thumbnail = canvas.toDataURL(\"image/png\");\n          _this.emit(\"thumbnail\", file, thumbnail);\n          if (callback != null) {\n            return callback();\n          }\n        };\n      })(this);\n      if (callback != null) {\n        img.onerror = callback;\n      }\n      return img.src = imageUrl;\n    };\n\n    Dropzone.prototype.processQueue = function() {\n      var i, parallelUploads, processingLength, queuedFiles;\n      parallelUploads = this.options.parallelUploads;\n      processingLength = this.getUploadingFiles().length;\n      i = processingLength;\n      if (processingLength >= parallelUploads) {\n        return;\n      }\n      queuedFiles = this.getQueuedFiles();\n      if (!(queuedFiles.length > 0)) {\n        return;\n      }\n      if (this.options.uploadMultiple) {\n        return this.processFiles(queuedFiles.slice(0, parallelUploads - processingLength));\n      } else {\n        while (i < parallelUploads) {\n          if (!queuedFiles.length) {\n            return;\n          }\n          this.processFile(queuedFiles.shift());\n          i++;\n        }\n      }\n    };\n\n    Dropzone.prototype.processFile = function(file) {\n      return this.processFiles([file]);\n    };\n\n    Dropzone.prototype.processFiles = function(files) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.processing = true;\n        file.status = Dropzone.UPLOADING;\n        this.emit(\"processing\", file);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"processingmultiple\", files);\n      }\n      return this.uploadFiles(files);\n    };\n\n    Dropzone.prototype._getFilesWithXhr = function(xhr) {\n      var file, files;\n      return files = (function() {\n        var _i, _len, _ref, _results;\n        _ref = this.files;\n        _results = [];\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          file = _ref[_i];\n          if (file.xhr === xhr) {\n            _results.push(file);\n          }\n        }\n        return _results;\n      }).call(this);\n    };\n\n    Dropzone.prototype.cancelUpload = function(file) {\n      var groupedFile, groupedFiles, _i, _j, _len, _len1, _ref;\n      if (file.status === Dropzone.UPLOADING) {\n        groupedFiles = this._getFilesWithXhr(file.xhr);\n        for (_i = 0, _len = groupedFiles.length; _i < _len; _i++) {\n          groupedFile = groupedFiles[_i];\n          groupedFile.status = Dropzone.CANCELED;\n        }\n        file.xhr.abort();\n        for (_j = 0, _len1 = groupedFiles.length; _j < _len1; _j++) {\n          groupedFile = groupedFiles[_j];\n          this.emit(\"canceled\", groupedFile);\n        }\n        if (this.options.uploadMultiple) {\n          this.emit(\"canceledmultiple\", groupedFiles);\n        }\n      } else if ((_ref = file.status) === Dropzone.ADDED || _ref === Dropzone.QUEUED) {\n        file.status = Dropzone.CANCELED;\n        this.emit(\"canceled\", file);\n        if (this.options.uploadMultiple) {\n          this.emit(\"canceledmultiple\", [file]);\n        }\n      }\n      if (this.options.autoProcessQueue) {\n        return this.processQueue();\n      }\n    };\n\n    resolveOption = function() {\n      var args, option;\n      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];\n      if (typeof option === 'function') {\n        return option.apply(this, args);\n      }\n      return option;\n    };\n\n    Dropzone.prototype.uploadFile = function(file) {\n      return this.uploadFiles([file]);\n    };\n\n    Dropzone.prototype.uploadFiles = function(files) {\n      var file, formData, handleError, headerName, headerValue, headers, i, input, inputName, inputType, key, method, option, progressObj, response, updateProgress, url, value, xhr, _i, _j, _k, _l, _len, _len1, _len2, _len3, _m, _ref, _ref1, _ref2, _ref3, _ref4, _ref5;\n      xhr = new XMLHttpRequest();\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.xhr = xhr;\n      }\n      method = resolveOption(this.options.method, files);\n      url = resolveOption(this.options.url, files);\n      xhr.open(method, url, true);\n      xhr.withCredentials = !!this.options.withCredentials;\n      response = null;\n      handleError = (function(_this) {\n        return function() {\n          var _j, _len1, _results;\n          _results = [];\n          for (_j = 0, _len1 = files.length; _j < _len1; _j++) {\n            file = files[_j];\n            _results.push(_this._errorProcessing(files, response || _this.options.dictResponseError.replace(\"{{statusCode}}\", xhr.status), xhr));\n          }\n          return _results;\n        };\n      })(this);\n      updateProgress = (function(_this) {\n        return function(e) {\n          var allFilesFinished, progress, _j, _k, _l, _len1, _len2, _len3, _results;\n          if (e != null) {\n            progress = 100 * e.loaded / e.total;\n            for (_j = 0, _len1 = files.length; _j < _len1; _j++) {\n              file = files[_j];\n              file.upload = {\n                progress: progress,\n                total: e.total,\n                bytesSent: e.loaded\n              };\n            }\n          } else {\n            allFilesFinished = true;\n            progress = 100;\n            for (_k = 0, _len2 = files.length; _k < _len2; _k++) {\n              file = files[_k];\n              if (!(file.upload.progress === 100 && file.upload.bytesSent === file.upload.total)) {\n                allFilesFinished = false;\n              }\n              file.upload.progress = progress;\n              file.upload.bytesSent = file.upload.total;\n            }\n            if (allFilesFinished) {\n              return;\n            }\n          }\n          _results = [];\n          for (_l = 0, _len3 = files.length; _l < _len3; _l++) {\n            file = files[_l];\n            _results.push(_this.emit(\"uploadprogress\", file, progress, file.upload.bytesSent));\n          }\n          return _results;\n        };\n      })(this);\n      xhr.onload = (function(_this) {\n        return function(e) {\n          var _ref;\n          if (files[0].status === Dropzone.CANCELED) {\n            return;\n          }\n          if (xhr.readyState !== 4) {\n            return;\n          }\n          response = xhr.responseText;\n          if (xhr.getResponseHeader(\"content-type\") && ~xhr.getResponseHeader(\"content-type\").indexOf(\"application/json\")) {\n            try {\n              response = JSON.parse(response);\n            } catch (_error) {\n              e = _error;\n              response = \"Invalid JSON response from server.\";\n            }\n          }\n          updateProgress();\n          if (!((200 <= (_ref = xhr.status) && _ref < 300))) {\n            return handleError();\n          } else {\n            return _this._finished(files, response, e);\n          }\n        };\n      })(this);\n      xhr.onerror = (function(_this) {\n        return function() {\n          if (files[0].status === Dropzone.CANCELED) {\n            return;\n          }\n          return handleError();\n        };\n      })(this);\n      progressObj = (_ref = xhr.upload) != null ? _ref : xhr;\n      progressObj.onprogress = updateProgress;\n      headers = {\n        \"Accept\": \"application/json\",\n        \"Cache-Control\": \"no-cache\",\n        \"X-Requested-With\": \"XMLHttpRequest\"\n      };\n      if (this.options.headers) {\n        extend(headers, this.options.headers);\n      }\n      for (headerName in headers) {\n        headerValue = headers[headerName];\n        if (headerValue) {\n          xhr.setRequestHeader(headerName, headerValue);\n        }\n      }\n      formData = new FormData();\n      if (this.options.params) {\n        _ref1 = this.options.params;\n        for (key in _ref1) {\n          value = _ref1[key];\n          formData.append(key, value);\n        }\n      }\n      for (_j = 0, _len1 = files.length; _j < _len1; _j++) {\n        file = files[_j];\n        this.emit(\"sending\", file, xhr, formData);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"sendingmultiple\", files, xhr, formData);\n      }\n      if (this.element.tagName === \"FORM\") {\n        _ref2 = this.element.querySelectorAll(\"input, textarea, select, button\");\n        for (_k = 0, _len2 = _ref2.length; _k < _len2; _k++) {\n          input = _ref2[_k];\n          inputName = input.getAttribute(\"name\");\n          inputType = input.getAttribute(\"type\");\n          if (input.tagName === \"SELECT\" && input.hasAttribute(\"multiple\")) {\n            _ref3 = input.options;\n            for (_l = 0, _len3 = _ref3.length; _l < _len3; _l++) {\n              option = _ref3[_l];\n              if (option.selected) {\n                formData.append(inputName, option.value);\n              }\n            }\n          } else if (!inputType || ((_ref4 = inputType.toLowerCase()) !== \"checkbox\" && _ref4 !== \"radio\") || input.checked) {\n            formData.append(inputName, input.value);\n          }\n        }\n      }\n      for (i = _m = 0, _ref5 = files.length - 1; 0 <= _ref5 ? _m <= _ref5 : _m >= _ref5; i = 0 <= _ref5 ? ++_m : --_m) {\n        formData.append(this._getParamName(i), files[i], this._renameFilename(files[i].name));\n      }\n      return this.submitRequest(xhr, formData, files);\n    };\n\n    Dropzone.prototype.submitRequest = function(xhr, formData, files) {\n      return xhr.send(formData);\n    };\n\n    Dropzone.prototype._finished = function(files, responseText, e) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.status = Dropzone.SUCCESS;\n        this.emit(\"success\", file, responseText, e);\n        this.emit(\"complete\", file);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"successmultiple\", files, responseText, e);\n        this.emit(\"completemultiple\", files);\n      }\n      if (this.options.autoProcessQueue) {\n        return this.processQueue();\n      }\n    };\n\n    Dropzone.prototype._errorProcessing = function(files, message, xhr) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.status = Dropzone.ERROR;\n        this.emit(\"error\", file, message, xhr);\n        this.emit(\"complete\", file);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"errormultiple\", files, message, xhr);\n        this.emit(\"completemultiple\", files);\n      }\n      if (this.options.autoProcessQueue) {\n        return this.processQueue();\n      }\n    };\n\n    return Dropzone;\n\n  })(Emitter);\n\n  Dropzone.version = \"4.3.0\";\n\n  Dropzone.options = {};\n\n  Dropzone.optionsForElement = function(element) {\n    if (element.getAttribute(\"id\")) {\n      return Dropzone.options[camelize(element.getAttribute(\"id\"))];\n    } else {\n      return void 0;\n    }\n  };\n\n  Dropzone.instances = [];\n\n  Dropzone.forElement = function(element) {\n    if (typeof element === \"string\") {\n      element = document.querySelector(element);\n    }\n    if ((element != null ? element.dropzone : void 0) == null) {\n      throw new Error(\"No Dropzone found for given element. This is probably because you're trying to access it before Dropzone had the time to initialize. Use the `init` option to setup any additional observers on your Dropzone.\");\n    }\n    return element.dropzone;\n  };\n\n  Dropzone.autoDiscover = true;\n\n  Dropzone.discover = function() {\n    var checkElements, dropzone, dropzones, _i, _len, _results;\n    if (document.querySelectorAll) {\n      dropzones = document.querySelectorAll(\".dropzone\");\n    } else {\n      dropzones = [];\n      checkElements = function(elements) {\n        var el, _i, _len, _results;\n        _results = [];\n        for (_i = 0, _len = elements.length; _i < _len; _i++) {\n          el = elements[_i];\n          if (/(^| )dropzone($| )/.test(el.className)) {\n            _results.push(dropzones.push(el));\n          } else {\n            _results.push(void 0);\n          }\n        }\n        return _results;\n      };\n      checkElements(document.getElementsByTagName(\"div\"));\n      checkElements(document.getElementsByTagName(\"form\"));\n    }\n    _results = [];\n    for (_i = 0, _len = dropzones.length; _i < _len; _i++) {\n      dropzone = dropzones[_i];\n      if (Dropzone.optionsForElement(dropzone) !== false) {\n        _results.push(new Dropzone(dropzone));\n      } else {\n        _results.push(void 0);\n      }\n    }\n    return _results;\n  };\n\n  Dropzone.blacklistedBrowsers = [/opera.*Macintosh.*version\\/12/i];\n\n  Dropzone.isBrowserSupported = function() {\n    var capableBrowser, regex, _i, _len, _ref;\n    capableBrowser = true;\n    if (window.File && window.FileReader && window.FileList && window.Blob && window.FormData && document.querySelector) {\n      if (!(\"classList\" in document.createElement(\"a\"))) {\n        capableBrowser = false;\n      } else {\n        _ref = Dropzone.blacklistedBrowsers;\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          regex = _ref[_i];\n          if (regex.test(navigator.userAgent)) {\n            capableBrowser = false;\n            continue;\n          }\n        }\n      }\n    } else {\n      capableBrowser = false;\n    }\n    return capableBrowser;\n  };\n\n  without = function(list, rejectedItem) {\n    var item, _i, _len, _results;\n    _results = [];\n    for (_i = 0, _len = list.length; _i < _len; _i++) {\n      item = list[_i];\n      if (item !== rejectedItem) {\n        _results.push(item);\n      }\n    }\n    return _results;\n  };\n\n  camelize = function(str) {\n    return str.replace(/[\\-_](\\w)/g, function(match) {\n      return match.charAt(1).toUpperCase();\n    });\n  };\n\n  Dropzone.createElement = function(string) {\n    var div;\n    div = document.createElement(\"div\");\n    div.innerHTML = string;\n    return div.childNodes[0];\n  };\n\n  Dropzone.elementInside = function(element, container) {\n    if (element === container) {\n      return true;\n    }\n    while (element = element.parentNode) {\n      if (element === container) {\n        return true;\n      }\n    }\n    return false;\n  };\n\n  Dropzone.getElement = function(el, name) {\n    var element;\n    if (typeof el === \"string\") {\n      element = document.querySelector(el);\n    } else if (el.nodeType != null) {\n      element = el;\n    }\n    if (element == null) {\n      throw new Error(\"Invalid `\" + name + \"` option provided. Please provide a CSS selector or a plain HTML element.\");\n    }\n    return element;\n  };\n\n  Dropzone.getElements = function(els, name) {\n    var e, el, elements, _i, _j, _len, _len1, _ref;\n    if (els instanceof Array) {\n      elements = [];\n      try {\n        for (_i = 0, _len = els.length; _i < _len; _i++) {\n          el = els[_i];\n          elements.push(this.getElement(el, name));\n        }\n      } catch (_error) {\n        e = _error;\n        elements = null;\n      }\n    } else if (typeof els === \"string\") {\n      elements = [];\n      _ref = document.querySelectorAll(els);\n      for (_j = 0, _len1 = _ref.length; _j < _len1; _j++) {\n        el = _ref[_j];\n        elements.push(el);\n      }\n    } else if (els.nodeType != null) {\n      elements = [els];\n    }\n    if (!((elements != null) && elements.length)) {\n      throw new Error(\"Invalid `\" + name + \"` option provided. Please provide a CSS selector, a plain HTML element or a list of those.\");\n    }\n    return elements;\n  };\n\n  Dropzone.confirm = function(question, accepted, rejected) {\n    if (window.confirm(question)) {\n      return accepted();\n    } else if (rejected != null) {\n      return rejected();\n    }\n  };\n\n  Dropzone.isValidFile = function(file, acceptedFiles) {\n    var baseMimeType, mimeType, validType, _i, _len;\n    if (!acceptedFiles) {\n      return true;\n    }\n    acceptedFiles = acceptedFiles.split(\",\");\n    mimeType = file.type;\n    baseMimeType = mimeType.replace(/\\/.*$/, \"\");\n    for (_i = 0, _len = acceptedFiles.length; _i < _len; _i++) {\n      validType = acceptedFiles[_i];\n      validType = validType.trim();\n      if (validType.charAt(0) === \".\") {\n        if (file.name.toLowerCase().indexOf(validType.toLowerCase(), file.name.length - validType.length) !== -1) {\n          return true;\n        }\n      } else if (/\\/\\*$/.test(validType)) {\n        if (baseMimeType === validType.replace(/\\/.*$/, \"\")) {\n          return true;\n        }\n      } else {\n        if (mimeType === validType) {\n          return true;\n        }\n      }\n    }\n    return false;\n  };\n\n  if (typeof jQuery !== \"undefined\" && jQuery !== null) {\n    jQuery.fn.dropzone = function(options) {\n      return this.each(function() {\n        return new Dropzone(this, options);\n      });\n    };\n  }\n\n  if (typeof module !== \"undefined\" && module !== null) {\n    module.exports = Dropzone;\n  } else {\n    window.Dropzone = Dropzone;\n  }\n\n  Dropzone.ADDED = \"added\";\n\n  Dropzone.QUEUED = \"queued\";\n\n  Dropzone.ACCEPTED = Dropzone.QUEUED;\n\n  Dropzone.UPLOADING = \"uploading\";\n\n  Dropzone.PROCESSING = Dropzone.UPLOADING;\n\n  Dropzone.CANCELED = \"canceled\";\n\n  Dropzone.ERROR = \"error\";\n\n  Dropzone.SUCCESS = \"success\";\n\n\n  /*\n  \n  Bugfix for iOS 6 and 7\n  Source: http://stackoverflow.com/questions/11929099/html5-canvas-drawimage-ratio-bug-ios\n  based on the work of https://github.com/stomita/ios-imagefile-megapixel\n   */\n\n  detectVerticalSquash = function(img) {\n    var alpha, canvas, ctx, data, ey, ih, iw, py, ratio, sy;\n    iw = img.naturalWidth;\n    ih = img.naturalHeight;\n    canvas = document.createElement(\"canvas\");\n    canvas.width = 1;\n    canvas.height = ih;\n    ctx = canvas.getContext(\"2d\");\n    ctx.drawImage(img, 0, 0);\n    data = ctx.getImageData(0, 0, 1, ih).data;\n    sy = 0;\n    ey = ih;\n    py = ih;\n    while (py > sy) {\n      alpha = data[(py - 1) * 4 + 3];\n      if (alpha === 0) {\n        ey = py;\n      } else {\n        sy = py;\n      }\n      py = (ey + sy) >> 1;\n    }\n    ratio = py / ih;\n    if (ratio === 0) {\n      return 1;\n    } else {\n      return ratio;\n    }\n  };\n\n  drawImageIOSFix = function(ctx, img, sx, sy, sw, sh, dx, dy, dw, dh) {\n    var vertSquashRatio;\n    vertSquashRatio = detectVerticalSquash(img);\n    return ctx.drawImage(img, sx, sy, sw, sh, dx, dy, dw, dh / vertSquashRatio);\n  };\n\n\n  /*\n   * contentloaded.js\n   *\n   * Author: Diego Perini (diego.perini at gmail.com)\n   * Summary: cross-browser wrapper for DOMContentLoaded\n   * Updated: 20101020\n   * License: MIT\n   * Version: 1.2\n   *\n   * URL:\n   * http://javascript.nwbox.com/ContentLoaded/\n   * http://javascript.nwbox.com/ContentLoaded/MIT-LICENSE\n   */\n\n  contentLoaded = function(win, fn) {\n    var add, doc, done, init, poll, pre, rem, root, top;\n    done = false;\n    top = true;\n    doc = win.document;\n    root = doc.documentElement;\n    add = (doc.addEventListener ? \"addEventListener\" : \"attachEvent\");\n    rem = (doc.addEventListener ? \"removeEventListener\" : \"detachEvent\");\n    pre = (doc.addEventListener ? \"\" : \"on\");\n    init = function(e) {\n      if (e.type === \"readystatechange\" && doc.readyState !== \"complete\") {\n        return;\n      }\n      (e.type === \"load\" ? win : doc)[rem](pre + e.type, init, false);\n      if (!done && (done = true)) {\n        return fn.call(win, e.type || e);\n      }\n    };\n    poll = function() {\n      var e;\n      try {\n        root.doScroll(\"left\");\n      } catch (_error) {\n        e = _error;\n        setTimeout(poll, 50);\n        return;\n      }\n      return init(\"poll\");\n    };\n    if (doc.readyState !== \"complete\") {\n      if (doc.createEventObject && root.doScroll) {\n        try {\n          top = !win.frameElement;\n        } catch (_error) {}\n        if (top) {\n          poll();\n        }\n      }\n      doc[add](pre + \"DOMContentLoaded\", init, false);\n      doc[add](pre + \"readystatechange\", init, false);\n      return win[add](pre + \"load\", init, false);\n    }\n  };\n\n  Dropzone._autoDiscoverFunction = function() {\n    if (Dropzone.autoDiscover) {\n      return Dropzone.discover();\n    }\n  };\n\n  contentLoaded(window, Dropzone._autoDiscoverFunction);\n\n}).call(this);","output":"str","x":530,"y":1640,"wires":[["59440c68.c2df84"]]},{"id":"28780fbe.555b3","type":"http in","z":"88a01a3b.6b7ab8","name":"","url":"/upload_pretty","method":"get","upload":false,"swaggerDoc":"","x":310,"y":1640,"wires":[["ce0adf4f.11ad8"]]},{"id":"2a82e79a.b605c8","type":"template","z":"88a01a3b.6b7ab8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    {{{dropzonejs}}}\n</script>\n<style>\n    {{{css}}}\n</style>\n\n<script>\n    // \"myAwesomeDropzone\" is the camelized version of the HTML element's ID\n    Dropzone.options.myDropzone = {\n      paramName: \"myFile\", // The name that will be used to transfer the file\n      maxFilesize: 2, // MB\n      accept: function(file, done) {\n        if (file.name == \"justinbieber.jpg\") {\n          done(\"Naha, you don't.\");\n        }\n        else { done(); }\n      }\n    };\n</script>\n\n<h1>Upload a file here:</h1>\n\n<form action=\"/uploadpretty_post\" class=\"dropzone\" method=\"post\" enctype=\"multipart/form-data\" id=\"my-dropzone\">\n  <div class=\"fallback\">\n    <input name=\"myFile\" type=\"file\" />\n    <input type=\"submit\" value=\"Submit\">\n  </div>\n</form>","output":"str","x":850,"y":1640,"wires":[["47c8cc8b.1c82e4"]]},{"id":"47c8cc8b.1c82e4","type":"http response","z":"88a01a3b.6b7ab8","name":"","x":1010,"y":1640,"wires":[]},{"id":"59440c68.c2df84","type":"template","z":"88a01a3b.6b7ab8","name":"","field":"css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/*\n * The MIT License\n * Copyright (c) 2012 Matias Meno <m@tias.me>\n */\n@-webkit-keyframes passing-through {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30%, 70% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); }\n  100% {\n    opacity: 0;\n    -webkit-transform: translateY(-40px);\n    -moz-transform: translateY(-40px);\n    -ms-transform: translateY(-40px);\n    -o-transform: translateY(-40px);\n    transform: translateY(-40px); } }\n@-moz-keyframes passing-through {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30%, 70% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); }\n  100% {\n    opacity: 0;\n    -webkit-transform: translateY(-40px);\n    -moz-transform: translateY(-40px);\n    -ms-transform: translateY(-40px);\n    -o-transform: translateY(-40px);\n    transform: translateY(-40px); } }\n@keyframes passing-through {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30%, 70% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); }\n  100% {\n    opacity: 0;\n    -webkit-transform: translateY(-40px);\n    -moz-transform: translateY(-40px);\n    -ms-transform: translateY(-40px);\n    -o-transform: translateY(-40px);\n    transform: translateY(-40px); } }\n@-webkit-keyframes slide-in {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); } }\n@-moz-keyframes slide-in {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); } }\n@keyframes slide-in {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); } }\n@-webkit-keyframes pulse {\n  0% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); }\n  10% {\n    -webkit-transform: scale(1.1);\n    -moz-transform: scale(1.1);\n    -ms-transform: scale(1.1);\n    -o-transform: scale(1.1);\n    transform: scale(1.1); }\n  20% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); } }\n@-moz-keyframes pulse {\n  0% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); }\n  10% {\n    -webkit-transform: scale(1.1);\n    -moz-transform: scale(1.1);\n    -ms-transform: scale(1.1);\n    -o-transform: scale(1.1);\n    transform: scale(1.1); }\n  20% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); } }\n@keyframes pulse {\n  0% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); }\n  10% {\n    -webkit-transform: scale(1.1);\n    -moz-transform: scale(1.1);\n    -ms-transform: scale(1.1);\n    -o-transform: scale(1.1);\n    transform: scale(1.1); }\n  20% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); } }\n.dropzone, .dropzone * {\n  box-sizing: border-box; }\n\n.dropzone {\n  min-height: 150px;\n  border: 2px solid rgba(0, 0, 0, 0.3);\n  background: white;\n  padding: 20px 20px; }\n  .dropzone.dz-clickable {\n    cursor: pointer; }\n    .dropzone.dz-clickable * {\n      cursor: default; }\n    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {\n      cursor: pointer; }\n  .dropzone.dz-started .dz-message {\n    display: none; }\n  .dropzone.dz-drag-hover {\n    border-style: solid; }\n    .dropzone.dz-drag-hover .dz-message {\n      opacity: 0.5; }\n  .dropzone .dz-message {\n    text-align: center;\n    margin: 2em 0; }\n  .dropzone .dz-preview {\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin: 16px;\n    min-height: 100px; }\n    .dropzone .dz-preview:hover {\n      z-index: 1000; }\n      .dropzone .dz-preview:hover .dz-details {\n        opacity: 1; }\n    .dropzone .dz-preview.dz-file-preview .dz-image {\n      border-radius: 20px;\n      background: #999;\n      background: linear-gradient(to bottom, #eee, #ddd); }\n    .dropzone .dz-preview.dz-file-preview .dz-details {\n      opacity: 1; }\n    .dropzone .dz-preview.dz-image-preview {\n      background: white; }\n      .dropzone .dz-preview.dz-image-preview .dz-details {\n        -webkit-transition: opacity 0.2s linear;\n        -moz-transition: opacity 0.2s linear;\n        -ms-transition: opacity 0.2s linear;\n        -o-transition: opacity 0.2s linear;\n        transition: opacity 0.2s linear; }\n    .dropzone .dz-preview .dz-remove {\n      font-size: 14px;\n      text-align: center;\n      display: block;\n      cursor: pointer;\n      border: none; }\n      .dropzone .dz-preview .dz-remove:hover {\n        text-decoration: underline; }\n    .dropzone .dz-preview:hover .dz-details {\n      opacity: 1; }\n    .dropzone .dz-preview .dz-details {\n      z-index: 20;\n      position: absolute;\n      top: 0;\n      left: 0;\n      opacity: 0;\n      font-size: 13px;\n      min-width: 100%;\n      max-width: 100%;\n      padding: 2em 1em;\n      text-align: center;\n      color: rgba(0, 0, 0, 0.9);\n      line-height: 150%; }\n      .dropzone .dz-preview .dz-details .dz-size {\n        margin-bottom: 1em;\n        font-size: 16px; }\n      .dropzone .dz-preview .dz-details .dz-filename {\n        white-space: nowrap; }\n        .dropzone .dz-preview .dz-details .dz-filename:hover span {\n          border: 1px solid rgba(200, 200, 200, 0.8);\n          background-color: rgba(255, 255, 255, 0.8); }\n        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {\n          overflow: hidden;\n          text-overflow: ellipsis; }\n          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {\n            border: 1px solid transparent; }\n      .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {\n        background-color: rgba(255, 255, 255, 0.4);\n        padding: 0 0.4em;\n        border-radius: 3px; }\n    .dropzone .dz-preview:hover .dz-image img {\n      -webkit-transform: scale(1.05, 1.05);\n      -moz-transform: scale(1.05, 1.05);\n      -ms-transform: scale(1.05, 1.05);\n      -o-transform: scale(1.05, 1.05);\n      transform: scale(1.05, 1.05);\n      -webkit-filter: blur(8px);\n      filter: blur(8px); }\n    .dropzone .dz-preview .dz-image {\n      border-radius: 20px;\n      overflow: hidden;\n      width: 120px;\n      height: 120px;\n      position: relative;\n      display: block;\n      z-index: 10; }\n      .dropzone .dz-preview .dz-image img {\n        display: block; }\n    .dropzone .dz-preview.dz-success .dz-success-mark {\n      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }\n    .dropzone .dz-preview.dz-error .dz-error-mark {\n      opacity: 1;\n      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }\n    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {\n      pointer-events: none;\n      opacity: 0;\n      z-index: 500;\n      position: absolute;\n      display: block;\n      top: 50%;\n      left: 50%;\n      margin-left: -27px;\n      margin-top: -27px; }\n      .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {\n        display: block;\n        width: 54px;\n        height: 54px; }\n    .dropzone .dz-preview.dz-processing .dz-progress {\n      opacity: 1;\n      -webkit-transition: all 0.2s linear;\n      -moz-transition: all 0.2s linear;\n      -ms-transition: all 0.2s linear;\n      -o-transition: all 0.2s linear;\n      transition: all 0.2s linear; }\n    .dropzone .dz-preview.dz-complete .dz-progress {\n      opacity: 0;\n      -webkit-transition: opacity 0.4s ease-in;\n      -moz-transition: opacity 0.4s ease-in;\n      -ms-transition: opacity 0.4s ease-in;\n      -o-transition: opacity 0.4s ease-in;\n      transition: opacity 0.4s ease-in; }\n    .dropzone .dz-preview:not(.dz-processing) .dz-progress {\n      -webkit-animation: pulse 6s ease infinite;\n      -moz-animation: pulse 6s ease infinite;\n      -ms-animation: pulse 6s ease infinite;\n      -o-animation: pulse 6s ease infinite;\n      animation: pulse 6s ease infinite; }\n    .dropzone .dz-preview .dz-progress {\n      opacity: 1;\n      z-index: 1000;\n      pointer-events: none;\n      position: absolute;\n      height: 16px;\n      left: 50%;\n      top: 50%;\n      margin-top: -8px;\n      width: 80px;\n      margin-left: -40px;\n      background: rgba(255, 255, 255, 0.9);\n      -webkit-transform: scale(1);\n      border-radius: 8px;\n      overflow: hidden; }\n      .dropzone .dz-preview .dz-progress .dz-upload {\n        background: #333;\n        background: linear-gradient(to bottom, #666, #444);\n        position: absolute;\n        top: 0;\n        left: 0;\n        bottom: 0;\n        width: 0;\n        -webkit-transition: width 300ms ease-in-out;\n        -moz-transition: width 300ms ease-in-out;\n        -ms-transition: width 300ms ease-in-out;\n        -o-transition: width 300ms ease-in-out;\n        transition: width 300ms ease-in-out; }\n    .dropzone .dz-preview.dz-error .dz-error-message {\n      display: block; }\n    .dropzone .dz-preview.dz-error:hover .dz-error-message {\n      opacity: 1;\n      pointer-events: auto; }\n    .dropzone .dz-preview .dz-error-message {\n      pointer-events: none;\n      z-index: 1000;\n      position: absolute;\n      display: block;\n      display: none;\n      opacity: 0;\n      -webkit-transition: opacity 0.3s ease;\n      -moz-transition: opacity 0.3s ease;\n      -ms-transition: opacity 0.3s ease;\n      -o-transition: opacity 0.3s ease;\n      transition: opacity 0.3s ease;\n      border-radius: 8px;\n      font-size: 13px;\n      top: 130px;\n      left: -10px;\n      width: 140px;\n      background: #be2626;\n      background: linear-gradient(to bottom, #be2626, #a92222);\n      padding: 0.5em 1.2em;\n      color: white; }\n      .dropzone .dz-preview .dz-error-message:after {\n        content: '';\n        position: absolute;\n        top: -6px;\n        left: 64px;\n        width: 0;\n        height: 0;\n        border-left: 6px solid transparent;\n        border-right: 6px solid transparent;\n        border-bottom: 6px solid #be2626; }","output":"str","x":710,"y":1640,"wires":[["2a82e79a.b605c8"]]},{"id":"43d896bb.64d978","type":"http in","z":"88a01a3b.6b7ab8","name":"","url":"/uploadpretty_post","method":"post","upload":true,"swaggerDoc":"","x":330,"y":1700,"wires":[["55ddee9f.2d143","a210dbc1.3f5bf8"]]},{"id":"55ddee9f.2d143","type":"http response","z":"88a01a3b.6b7ab8","name":"","x":1010,"y":1700,"wires":[]},{"id":"17bda204.59e4be","type":"comment","z":"88a01a3b.6b7ab8","name":"More fancy example","info":"http://localhost:1880/upload_pretty","x":310,"y":1600,"wires":[]},{"id":"a210dbc1.3f5bf8","type":"debug","z":"88a01a3b.6b7ab8","name":"","active":true,"console":"false","complete":"req.files[0].buffer","x":580,"y":1740,"wires":[]},{"id":"8be2107d.12847","type":"http in","z":"88a01a3b.6b7ab8","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":290,"y":1320,"wires":[["f420c1bb.b01cf"]]},{"id":"f420c1bb.b01cf","type":"template","z":"88a01a3b.6b7ab8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":470,"y":1320,"wires":[["cfdd5d60.6f899"]]},{"id":"cfdd5d60.6f899","type":"http response","z":"88a01a3b.6b7ab8","name":"","x":630,"y":1320,"wires":[]},{"id":"60a3c2b7.5be37c","type":"http response","z":"88a01a3b.6b7ab8","name":"","statusCode":"","headers":{},"x":1030,"y":1440,"wires":[]},{"id":"e8a29c8f.d0075","type":"debug","z":"88a01a3b.6b7ab8","name":"","active":true,"console":"false","complete":"req.files","x":550,"y":1380,"wires":[]},{"id":"9a289e24.b8dfa","type":"comment","z":"88a01a3b.6b7ab8","name":"Simple file upload example","info":"http://localhost:1880/upload","x":330,"y":1280,"wires":[]},{"id":"17bfcacb.542235","type":"template","z":"88a01a3b.6b7ab8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File {{originalname}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":870,"y":1440,"wires":[["60a3c2b7.5be37c"]]},{"id":"a82d164b.cbdbb8","type":"function","z":"88a01a3b.6b7ab8","name":"","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1440,"wires":[["17bfcacb.542235"]]},{"id":"44b58ff.b03fb7","type":"http in","z":"88a01a3b.6b7ab8","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":330,"y":1440,"wires":[["e8a29c8f.d0075","7b373118.c9385"]]},{"id":"7b373118.c9385","type":"change","z":"88a01a3b.6b7ab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["a82d164b.cbdbb8"]]},{"id":"ab1853a9.1cf38","type":"template","z":"88a01a3b.6b7ab8","name":"body","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"session\">\n        \n    <div class=\"left\">\n    </div>\n    \n    <form action=\"/csvupload_post\" method=\"POST\" enctype=\"multipart/form-data\"> \n        <h4>SWA <span>CSV-Uploader</span></h4>\n        <div class=\"floating-label\">\n            <input type=\"file\" name=\"myFile\" />\n        </div>\n        <br>\n        <br>\n        <button type=\"submit\" value=\"Submit\" onClick=\"Submit;\">bertragen</button>\n    </form>\n    \n </div>","output":"str","x":1410,"y":140,"wires":[["924f9387.46e9c"]]},{"id":"3a811a8.0a8e3e6","type":"template","z":"88a01a3b.6b7ab8","name":"body","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"session\">\n        \n    <div class=\"left\">\n    </div>\n    \n    <form> \n        <h4>SWA <span>CSV-Uploader</span></h4>\n        <p>Die Datei<br>\"{{originalname}}\"<br>wurde erfolgreich hochgeladen.</p>\n        <a href=\"../csvupload\">Weitere Datei hochladen</a>\n    </form>\n</div>","output":"str","x":1410,"y":220,"wires":[["924f9387.46e9c"]]},{"id":"1fbe9f6e.fd53d1","type":"template","z":"88a01a3b.6b7ab8","name":"body","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"session\">\n        \n    <div class=\"left\">\n    </div>\n    \n    <form> \n        <h4>SWA <span>CSV-Uploader</span></h4>\n        <p>Da war keine CSV-Datei: \n        <a href=\"../csvupload\">Nochmal versuchen</a></p>\n    </form>\n</div>","output":"str","x":1410,"y":300,"wires":[["924f9387.46e9c"]]},{"id":"3648b055.86187","type":"change","z":"88a01a3b.6b7ab8","name":"addPath","rules":[{"t":"set","p":"path","pt":"msg","to":"/data/csv/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["dbbd8de6.b53e9"]]},{"id":"9b60e765.925868","type":"change","z":"88a01a3b.6b7ab8","name":"Path","rules":[{"t":"set","p":"payload","pt":"msg","to":"/data/csv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["6ffb9186.37247"]]},{"id":"6ffb9186.37247","type":"exec","z":"88a01a3b.6b7ab8","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":480,"wires":[["3e0a1f95.e41c2"],[],[]]},{"id":"3e0a1f95.e41c2","type":"change","z":"88a01a3b.6b7ab8","name":"split and filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"($files := [$split(payload, '\\n')[$ != \"\"]];\t    $count('csv') = 0 ? [$files] : [$files[$split($, '.')[-1] in 'csv']];\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":480,"wires":[["22bad0f7.f554e"]]},{"id":"b3489fc5.bf29a","type":"function","z":"88a01a3b.6b7ab8","name":"addTimestamp","func":"// (1) wandelt timestamo ins ISO Datumformat um\n// msg.timestamp= new Date().toISOString()\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n// (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now = new Date();\n\nvar year = now.getFullYear();\nvar month = now.getMonth()+1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds();\n\nif(month.toString().length == 1) {\nvar month = '0' + month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}\nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}\n// Variante1: wenn z.B. nicht ein vorhandener Payload\n// berschrieben werden soll, sondern um ein\n// Datum ergnzt werden soll.\n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n// Variante 2: Function gibt die aktuelle Zeit als payload aus\nmsg.tmstp = year+'-'+month+'-'+day+'T'+hour+'-'+minute+'-'+second+'Z';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["3648b055.86187"]]},{"id":"22bad0f7.f554e","type":"debug","z":"88a01a3b.6b7ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"9dfa5012.ae744","type":"comment","z":"88a01a3b.6b7ab8","name":"csv file upload frontend","info":"","x":280,"y":100,"wires":[]},{"id":"850a8bc0.f30ef8","type":"comment","z":"88a01a3b.6b7ab8","name":"CSV: List Files","info":"","x":260,"y":440,"wires":[]},{"id":"85c05f67.ebc76","type":"inject","z":"88a01a3b.6b7ab8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":480,"wires":[["9b60e765.925868"]]},{"id":"dcd1a0d1.afb25","type":"comment","z":"88a01a3b.6b7ab8","name":"How to download:","info":"Download:\n\nNODERED-PFAD/data/csv/FILENAME.CSV","x":1190,"y":480,"wires":[]},{"id":"c02ff759.2d5888","type":"file in","z":"210233e1.b9e69c","name":"","filename":"/data/device_mapping.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":240,"y":220,"wires":[["53597d65.963974"]]},{"id":"53597d65.963974","type":"json","z":"210233e1.b9e69c","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":220,"wires":[["ddd2c837.588918"]]},{"id":"66f285eb.a19a6c","type":"http request","z":"210233e1.b9e69c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":540,"wires":[["173bfcf1.837cf3"]]},{"id":"be04ed17.a019b","type":"function","z":"210233e1.b9e69c","name":"Prepare GET-Request for influx","func":"msg.headers = {};\nvar auth = new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"));\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":540,"wires":[["66f285eb.a19a6c"]]},{"id":"d1727a13.378af8","type":"base64","z":"210233e1.b9e69c","name":"Encrypt PW for influxDB","action":"","property":"payload","x":150,"y":460,"wires":[["be04ed17.a019b"]]},{"id":"173bfcf1.837cf3","type":"json","z":"210233e1.b9e69c","name":"","property":"payload","action":"obj","pretty":false,"x":710,"y":540,"wires":[["704bdcde.9a3af4"]]},{"id":"ddd2c837.588918","type":"function","z":"210233e1.b9e69c","name":"create Device Filter","func":"devices = [];\nmsg.deviceFilter = {};\nmsg.measurement_map = msg.payload.measurement_map;\nvar url = env.get(\"INFLUX_ENDPOINT\")+\"/query?pretty=true&db=\"+env.get(\"INFLUXDB_DB\")+\"&q=\";\nfor(var device in msg.payload.device_map){\n    if(msg.payload.device_map[device].save_to_influx){\n       var deviceObj = msg.payload.device_map[device];\n       deviceObj[\"name\"] = device;\n       msg.deviceFilter[device] = deviceObj;\n       devices.push(deviceObj);\n       \n    }\n}\nmsg.url = url;\n//msg.deviceFilter = devices;\nmsg.devices = devices;\nmsg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":220,"wires":[["c29c5811.2776c8"]]},{"id":"c29c5811.2776c8","type":"function","z":"210233e1.b9e69c","name":"Loop through Devices from InfluxDB to get the last readings","func":"if (typeof msg.devices[0] == 'undefined') {\n        delete msg.url;\n        delete msg.statusCode;\n        delete msg.responseUrl;\n        delete msg.redirectList;\n        delete msg.currentDevice;\n        delete msg.headers;\n        delete msg.devices;\n        delete msg._msgid;\n        delete msg.filename;\n        delete msg.topic;\n        delete msg.paylaod;\n        \n        let token = env.get(\"ZENNER_TOKEN\");\n        let endpoint = env.get(\"ZENNER_ENDPOINT\")\n        let request = \"/api/v1/devices\";\n        let url = endpoint+request+\"?limit=200&auth=\"+token;\n        msg.url = url;\n        return [ msg, null ];\n    \n} \n        \nelse{\n let url = env.get(\"INFLUX_ENDPOINT\")+\"/query?pretty=true&db=\"+env.get(\"INFLUXDB_DB_Laura\")+\"&q=\";\n   msg.currentDevice = msg.devices.pop();\n    msg.url=url+\"SELECT * AS \\\"battery_voltage\\\" FROM \\\"\"+msg.currentDevice.measurement+\"\\\" WHERE \\\"name\\\"='\"+msg.currentDevice.name+\"'ORDER BY DESC LIMIT 1\";\n    msg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\n    return [ null, msg ];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["fd7c829f.5941c"],["d1727a13.378af8","7be346c7.a26328"]]},{"id":"704bdcde.9a3af4","type":"function","z":"210233e1.b9e69c","name":"Add timestamp to filter","func":"var timeIndex = 0;\nvar timestamp;\n//for(var index in msg.payload.results[0].series[0].columns){\n//    if(msg.msg.payload.results[0].series[0].columns[index] == \"time\"){\n       // timeIndex = index;\n//    }\n//}\n\nif (typeof msg.payload.results == \"undefined\" || typeof msg.payload.results[0].series == \"undefined\") {\n  msg.deviceFilter[msg.currentDevice.name][\"lastReading\"]= \"2020-01-01T01:00:00.00Z\"\n}\nelse{\n    timestamp =msg.payload.results[0].series[0].values[0][timeIndex];\n    msg.deviceFilter[msg.currentDevice.name][\"lastReading\"] = timestamp;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":540,"wires":[["c29c5811.2776c8"]]},{"id":"fd7c829f.5941c","type":"http request","z":"210233e1.b9e69c","name":"get List of Devices from Element IOT","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":360,"wires":[["c0f6defc.f0669"]]},{"id":"43d2ad9e.879844","type":"function","z":"210233e1.b9e69c","name":"Filter Devices","func":"var devices = [];\n\n\nfor (var d in msg.payload.body) {\n    var device = msg.payload.body[d];\n    var apply = false;\n    location = {};\n    if(findDeviceInFilter(device.name)){\n       devices.push({\n                    name : device.name,\n                    id: device.interfaces[0].device_id,\n                    measurement : msg.deviceFilter[device.name].measurement,\n                    zone : msg.deviceFilter[device.name].zone,\n                    lat  : device.location.coordinates[1],\n                    lon  : device.location.coordinates[0],\n                    last_transmission : msg.deviceFilter[device.name].lastReading,\n                    data_point_map : msg.measurement_map[msg.deviceFilter[device.name].measurement]\n            })\n            }\n        }\n    \n    \n    \n\n\nmsg.jumpToNextDevice = \"firstRound\";\n\nmsg.devices = devices;\nreturn msg;\n\nfunction findDeviceInFilter(deviceName){\n    for(var device in msg.deviceFilter){\n        if(device == deviceName){\n            return true;\n        }\n    }\n    return false;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":740,"wires":[["864e420b.4e935"]],"outputLabels":["geotaged"]},{"id":"c0f6defc.f0669","type":"json","z":"210233e1.b9e69c","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":540,"wires":[["43d2ad9e.879844"]]},{"id":"864e420b.4e935","type":"function","z":"210233e1.b9e69c","name":"Loop through filtered Devices to get measurements","func":"  let token = env.get(\"ZENNER_TOKEN\");\n  let endpoint = env.get(\"ZENNER_ENDPOINT\");\n    \n\nif ((typeof msg.currentDevice == 'undefined'&&msg.jumpToNextDevice == \"true\" )||(typeof msg.devices[0] == 'undefined'&&msg.jumpToNextDevice == \"true\" ) ) {\n       msg.payload = \"transmission finished\"\n        return [ msg, null ];\n} \n        \nelse{\n    if(msg.jumpToNextDevice == \"true\" || msg.jumpToNextDevice == \"firstRound\"){\n        msg.currentDevice = msg.devices.pop();\n    }\n    var request = \"/api/v1/devices/\"+msg.currentDevice.id;\n    var url = endpoint+request+\"/readings?limit=100&sort=measured_at&sort_direction=asc&auth=\"+token+\"&after=\"+msg.currentDevice.last_transmission;\n  \n    msg.url = url  \n    return [ null, msg ];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":710,"y":740,"wires":[["44466550.dd4b8c"],["eec90b50.f4a0a8","350e3c56.e0b024"]]},{"id":"eec90b50.f4a0a8","type":"http request","z":"210233e1.b9e69c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":900,"wires":[["29fd0d5.2ebc0f2","a84515e4.a06da8","496e0732.b8f668"]]},{"id":"29fd0d5.2ebc0f2","type":"function","z":"210233e1.b9e69c","name":"Prepare data for Soil and Environment","func":"let token = env.get(\"ZENNER_TOKEN\");\nlet dbName = env.get(\"INFLUX_DBNAME\"); //swa-database\nlet endpoint = env.get(\"INFLUX_ENDPOINT\"); //http://swa-meshup_influx_1:8086\n\nvar payload = [];\n\nvar packetSet = [];\nvar tagSet = {};    \n\nlet dataPointMap = msg.currentDevice.data_point_map;\nlet eui = msg.currentDevice.id;\nlet name = msg.currentDevice.name;\nlet zone = msg.currentDevice.zone;\nlet pos_lon = msg.currentDevice.lon;\nlet pos_lat = msg.currentDevice.lat;\nlet pos_alt = null;\n\nvar currendPacketId;\nvar capturedIds = [];\n\nif(msg.payload.error==\"Too Many Requests\"){\n    msg.jumpToNextDevice = \"false\"\n    return [msg, null]\n}\n\nif(msg.payload.body.length === 0){\n    msg.jumpToNextDevice = \"true\"\n    return [msg,null];\n}\n\nif(msg.payload.body.length == 100){\n    msg.jumpToNextDevice = \"false\"\n}\nelse{\n     msg.jumpToNextDevice = \"true\"\n}\n\nmsg.currentDevice.last_transmission = msg.payload.body[msg.payload.body.length-1].measured_at;\ntagSet.eui = eui;\ntagSet.name = name;\ntagSet.zone = zone;\ntagSet.pos_longitude = pos_lon;\ntagSet.pos_latitude = pos_lat;\ntagSet.pos_altitude = pos_alt;\n\n\nfor(var dataPacket in msg.payload.body){\n    \n    var fieldSet = {};\n    \n    for(var dataPoint in msg.payload.body[dataPacket].data){\n        for(var mapPoint in dataPointMap){\n            if(dataPointMap[mapPoint].valueName == dataPoint){\n              fieldSet[dataPointMap[mapPoint].fieldName] = msg.payload.body[dataPacket].data[dataPoint];\n                }\n        }\n      \n    }\n\n    if(!(Object.keys(fieldSet).length === 0 && fieldSet.constructor === Object)){\n        fieldSet.time = new Date(msg.payload.body[dataPacket].measured_at).getTime()*1000000;\n        packetSet.push(fieldSet);\n        packetSet.push(tagSet);\n    }\n}\npayload.push(packetSet);\n\n\nmsg.payload = payload;\n\nreturn [msg,msg]; \n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":730,"y":900,"wires":[["864e420b.4e935"],["d2ff0128.7a30a"]]},{"id":"44466550.dd4b8c","type":"debug","z":"210233e1.b9e69c","name":"Transmission finished","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":720,"wires":[]},{"id":"d2ff0128.7a30a","type":"function","z":"210233e1.b9e69c","name":"","func":"\nvar requestBody = \"\"\n\nfor (var i = 0; i < msg.payload[0].length; i+=2) {\n  var valueSet = msg.payload[0][i];\n  var tagSet = msg.payload[0][i+1]\n  var measurement = msg.currentDevice.measurement\n  \n  var valueSetBody=\"\";\n  var tagSetBody=\"\";\n  var timestamp;\n  // Prepare Schema as follows\n  //    soil,id=swa-plantcare-16,lon=12;lat=9 soil_temp=20,moisture=60,coolingtime=24 20398340912384\n  for(var value in valueSet){\n      if(value == \"time\"){\n          timestamp = valueSet[value];\n      }else{\n          valueSetBody += value+\"=\"+valueSet[value]+\",\";\n      }\n  }\n  for(var tag in tagSet){\n     tagSetBody += tag+\"=\"+tagSet[tag]+\",\";\n  }\n  \n  requestBody += measurement +\",\"+tagSetBody.slice(0, -1)+ \" \"+valueSetBody.slice(0, -1)+\" \"+timestamp+'\\n';\n}\n\nmsg = {};\nmsg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\nmsg.requestBody = requestBody;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":920,"wires":[["c6ce3bfe.bdaf58"]]},{"id":"93c3940b.61b298","type":"http request","z":"210233e1.b9e69c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":920,"wires":[[]]},{"id":"aa4f8dd7.3c21","type":"function","z":"210233e1.b9e69c","name":"Prepare POST-Request for influx","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/write?db=\"+env.get(\"INFLUXDB_DB_Laura\");\nmsg.headers = {};\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nmsg.payload = msg.requestBody\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":920,"wires":[["93c3940b.61b298"]]},{"id":"c6ce3bfe.bdaf58","type":"base64","z":"210233e1.b9e69c","name":"Encrypt PW for influxDB","action":"","property":"payload","x":1170,"y":920,"wires":[["aa4f8dd7.3c21"]]},{"id":"9dadd7e2.bb0198","type":"inject","z":"210233e1.b9e69c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["c02ff759.2d5888"]]},{"id":"937d249b.c6a1c8","type":"function","z":"2d1159b7.8f7406","name":"","func":"msg.payload =new Buffer.from(env.get(\"INFLUXDB_ADMIN_USER\") + ':' + env.get(\"INFLUXDB_ADMIN_PASSWORD\"))\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":580,"wires":[["a32843d8.d233d"]]},{"id":"a32843d8.d233d","type":"base64","z":"2d1159b7.8f7406","name":"","action":"","property":"payload","x":580,"y":580,"wires":[["3da4461c.a4ce6a"]]},{"id":"3da4461c.a4ce6a","type":"function","z":"2d1159b7.8f7406","name":"","func":"msg.headers = {};\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nmsg.payload = msg.requestBody\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":580,"wires":[["3b341cef.9d3cf4"]]},{"id":"3b341cef.9d3cf4","type":"http request","z":"2d1159b7.8f7406","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":580,"wires":[["3f858d1a.3bc1a2","240d8752.01b2e8"]]},{"id":"9ecc9e1a.5b814","type":"function","z":"2d1159b7.8f7406","name":"","func":"//msg.dbs = [\n //   {name: env.get(\"INFLUXDB_DB_Weather\")},\n //   {name: env.get(\"INFLUXDB_DB_Bruno\")},\n //   {name: env.get(\"INFLUXDB_DB_Laura\")},\n  //  {name: env.get(\"INFLUXDB_DB_Status\")}\n//];\n\nmsg.dbs = [\n    {name: \"swaWeatherStorageTest\"}\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["3f858d1a.3bc1a2"]]},{"id":"3f858d1a.3bc1a2","type":"function","z":"2d1159b7.8f7406","name":"","func":"if(msg.dbs.length === 0){\n     msg.payload = \"transmission finished\"\n    return [msg,null];\n}\nelse{\n\n    var dbName = msg.dbs.pop().name;\n    env.get(\"INFLUXDB_DB_Weather\"),\n    msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/query?q=CREATE DATABASE \"+dbName;\n    return [null,msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":400,"wires":[["c8b8b6dd.de3828"],["937d249b.c6a1c8"]]},{"id":"240d8752.01b2e8","type":"debug","z":"2d1159b7.8f7406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":460,"wires":[]},{"id":"52b1bc76.8c2804","type":"inject","z":"2d1159b7.8f7406","name":"Create all Databases","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":400,"wires":[["9ecc9e1a.5b814"]]},{"id":"c8b8b6dd.de3828","type":"debug","z":"2d1159b7.8f7406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"ef7becad.6ca79","type":"comment","z":"b79aef45.e70a1","name":"WeatherPreparation Bruno","info":"","x":110,"y":820,"wires":[]},{"id":"270a59dc.3c0e36","type":"comment","z":"b79aef45.e70a1","name":"WeatherPreparation Laura","info":"","x":110,"y":20,"wires":[]},{"id":"340e65e3.61a46a","type":"comment","z":"b79aef45.e70a1","name":"Position in Zone umwandeln","info":"","x":120,"y":1400,"wires":[]},{"id":"637aeb59.608474","type":"comment","z":"b79aef45.e70a1","name":"Zu Objekt zuordnen. Interpolation","info":"\n","x":130,"y":60,"wires":[]},{"id":"2f89406c.30905","type":"http request","z":"b79aef45.e70a1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1460,"wires":[["9f9483b1.f6b4f"]]},{"id":"56f61d57.cb23a4","type":"function","z":"b79aef45.e70a1","name":"","func":"msg.url = \"https://swisspost.opendatasoft.com/api/records/1.0/search/?dataset=plz_verzeichnis_v2&geofilter.distance=\" + msg.pos_latitude+ \", \"+ msg.pos_longitude;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1460,"wires":[["2f89406c.30905"]]},{"id":"8655b565.1b0358","type":"function","z":"b79aef45.e70a1","name":"","func":"msg.lat = 47.573197\nmsg.long = 9.302210\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1460,"wires":[["56f61d57.cb23a4"]]},{"id":"9f9483b1.f6b4f","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":1460,"wires":[["afaf885d.8d5758"]]},{"id":"afaf885d.8d5758","type":"function","z":"b79aef45.e70a1","name":"","func":"msg.commune = msg.payload.records[0].fields.ortbez18;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1460,"wires":[["16ce391a.49cf27"]]},{"id":"16ce391a.49cf27","type":"file in","z":"b79aef45.e70a1","name":"","filename":"/data/zone_mapping.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":950,"y":1460,"wires":[["5727941a.e1ab4c"]]},{"id":"5727941a.e1ab4c","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":1170,"y":1460,"wires":[["b8060506.7e9cc8"]]},{"id":"b8060506.7e9cc8","type":"function","z":"b79aef45.e70a1","name":"","func":"for(var zone in msg.payload){\n    if(msg.payload[zone].includes(msg.commune)){\n        msg.zone = zone;\n    }\n}\n\ndelete msg.commune;\ndelete msg.pos_latitude;\ndelete msg.pos_longitude;\ndelete msg.url;\ndelete msg.responseUrl;\ndelete msg.filename;\ndelete msg.payload;\ndelete msg.topic;\ndelete msg.statusCode;\ndelete msg.headers;\ndelete msg.redirectList;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":1460,"wires":[["69c29b23.e92bd4"]]},{"id":"982dab62.443748","type":"link in","z":"b79aef45.e70a1","name":"","links":["f0196f2e.a88ca"],"x":15,"y":1460,"wires":[["8655b565.1b0358"]]},{"id":"69c29b23.e92bd4","type":"link out","z":"b79aef45.e70a1","name":"","links":["8809635.0e75ba"],"x":1435,"y":1460,"wires":[]},{"id":"5ef93eac.e9402","type":"function","z":"b79aef45.e70a1","name":"Prepare InfluxDB-Request to get last Reading","func":" let url = env.get(\"INFLUX_ENDPOINT\")+\"/query?pretty=true&db=\"+env.get(\"INFLUXDB_DB_Laura\")+\"&q=\";\n msg.url=url+\"SELECT * AS \\\"battery_voltage\\\" FROM \\\"\"+env.get(\"MEASUREMENT_Laura\")+\"\\\"ORDER BY DESC LIMIT 1\";\n msg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["400c0a66.bf6c34"]]},{"id":"400c0a66.bf6c34","type":"base64","z":"b79aef45.e70a1","name":"Encrypt PW for influxDB","action":"","property":"payload","x":730,"y":200,"wires":[["b021d8ec.d89078"]]},{"id":"b021d8ec.d89078","type":"function","z":"b79aef45.e70a1","name":"Prepare GET-Request for influx","func":"msg.headers = {};\nvar auth = new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"));\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":200,"wires":[["d6bb584d.572a98"]]},{"id":"d6bb584d.572a98","type":"http request","z":"b79aef45.e70a1","name":"HTTP GET-Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1280,"y":200,"wires":[["cc774556.0f75c8"]]},{"id":"cc774556.0f75c8","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":1450,"y":200,"wires":[["ec18efed.bde65"]]},{"id":"ec18efed.bde65","type":"function","z":"b79aef45.e70a1","name":"Set Timestamp","func":"var timeIndex = 0;\nvar timestamp;\n\nif (typeof msg.payload.results == \"undefined\" || typeof msg.payload.results[0].series == \"undefined\") {\n  msg.lastReading = \"2020-01-01T01:00:00.00Z\"\n}\nelse{\n    timestamp =msg.payload.results[0].series[0].values[0][timeIndex];\n    msg.lastReading = timestamp;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":200,"wires":[["aa9c12e3.d2c89","903e7502.574a68"]]},{"id":"aa9c12e3.d2c89","type":"debug","z":"b79aef45.e70a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1920,"y":200,"wires":[]},{"id":"bbb23858.73adb8","type":"inject","z":"b79aef45.e70a1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":100,"wires":[["391240a1.79491"]]},{"id":"903e7502.574a68","type":"function","z":"b79aef45.e70a1","name":"Prepare InfluxDB-Request to get last Reading","func":" let url = env.get(\"INFLUX_ENDPOINT\")+\"/query?pretty=true&db=\"+env.get(\"INFLUXDB_DB_Laura\")+\"&q=\";\n msg.url=url+\"SELECT * FROM \\\"\"+env.get(\"MEASUREMENT_environment\")+\"\\\" WHERE time > \"+new Date(msg.lastReading).getTime()*1000000+\" ORDER BY DESC\";\n\n msg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["c873ab5a.81f458"]]},{"id":"c873ab5a.81f458","type":"base64","z":"b79aef45.e70a1","name":"Encrypt PW for influxDB","action":"","property":"payload","x":750,"y":280,"wires":[["18af6482.ac7e2b"]]},{"id":"18af6482.ac7e2b","type":"function","z":"b79aef45.e70a1","name":"Prepare GET-Request for influx","func":"msg.headers = {};\nvar auth = new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"));\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":280,"wires":[["58da8510.b36abc"]]},{"id":"58da8510.b36abc","type":"http request","z":"b79aef45.e70a1","name":"HTTP GET-Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":280,"wires":[["aa37a1a3.47d44"]]},{"id":"5aa34a36.5273c4","type":"function","z":"b79aef45.e70a1","name":"Add timestamp to filter","func":"var timeIndex = 0;\nvar timestamp;\n//for(var index in msg.payload.results[0].series[0].columns){\n//    if(msg.msg.payload.results[0].series[0].columns[index] == \"time\"){\n       // timeIndex = index;\n//    }\n//}\n\nif (typeof msg.payload.results == \"undefined\" || typeof msg.payload.results[0].series == \"undefined\") {\n  msg.lastReading = \"2020-01-01T01:00:00.00Z\"\n}\nelse{\n    timestamp =msg.payload.results[0].series[0].values[0][timeIndex];\n    msg.lastReading = timestamp;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":280,"wires":[[]]},{"id":"aa37a1a3.47d44","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":1490,"y":280,"wires":[["1320a538.98332b","994a9888.63f7e8"]]},{"id":"1320a538.98332b","type":"debug","z":"b79aef45.e70a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":280,"wires":[]},{"id":"ba595050.aaff9","type":"comment","z":"b79aef45.e70a1","name":"Get new Data","info":"","x":70,"y":280,"wires":[]},{"id":"6b7bbfdb.e7482","type":"comment","z":"b79aef45.e70a1","name":"Get Last Readings","info":"","x":90,"y":200,"wires":[]},{"id":"391240a1.79491","type":"file in","z":"b79aef45.e70a1","name":"","filename":"/data/device_mapping.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":100,"wires":[["20fead63.7d85e2"]]},{"id":"20fead63.7d85e2","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":100,"wires":[["2c2a146c.61c08c"]]},{"id":"2c2a146c.61c08c","type":"function","z":"b79aef45.e70a1","name":"create Device Filter","func":"msg.deviceFilter = {};\nmsg.dataInterfaces = msg.payload.dataInterfaces;\n\nfor(var device in msg.payload.device_map){\n    if(msg.payload.device_map[device].save_to_influx){\n       var deviceObj = msg.payload.device_map[device];\n       deviceObj[\"name\"] = device;\n       msg.deviceFilter[device] = deviceObj;\n       \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":100,"wires":[["5ef93eac.e9402"]]},{"id":"1446b06f.d08eb","type":"comment","z":"b79aef45.e70a1","name":"Parse and transfer Data","info":"","x":100,"y":340,"wires":[]},{"id":"41a41611.39e618","type":"debug","z":"b79aef45.e70a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"994a9888.63f7e8","type":"function","z":"b79aef45.e70a1","name":"","func":"var requestBody = \"\"\n\nmsg.mappedData = [];\n\nfunction getIndex(name){\n    return msg.columns.indexOf(name);\n}\n\nfunction isInDataInterfaces(dataPointName){\n    for(var k = 0; k<msg.dataInterfaces.weatherLaura.length; k++){\n        for(var l = 0; l<msg.dataInterfaces.weatherLaura[k].fromName.length; l++){\n            if(msg.dataInterfaces.weatherLaura[k].fromName[l]==dataPointName){\n                return msg.dataInterfaces.weatherLaura[k].toName;\n            }\n        }\n    }\n}\n\n//berprft ob Payload mit neuen Daten vorhanden ist.\nif(typeof msg.payload.results[0].series == 'undefined'){\n    msg = {};\n    msg.payload = \"No new Data\";\n    return[null, msg]\n}\nelse{\n    msg.columns = msg.payload.results[0].series[0].columns;\n}\n\n\nfor (var i = 0; i < msg.payload.results[0].series[0].values.length; i++) {\n  var valueSet = []\n  var tagSet = []\n  var valueSetBody=\"\";\n  var tagSetBody=\"\";\n  var timestamp;\n  var mappedData = {};\n  msg.payload.results[0].series[0].columns.forEach((key, x) => mappedData[key] = msg.payload.results[0].series[0].values[i][x]);\n  \n  //berprft ob Device berhaupt fr Laura interesant ist, resp. ob ein Object angegeben ist\n  if(msg.deviceFilter[mappedData.name].assigned_to_object!='undefined'){\n    tagSet.assigned_to_object = msg.deviceFilter[mappedData.name].assigned_to_object;\n    for(var value in mappedData){\n        if(value == \"time\"){\n          timestamp = new Date(mappedData[value]).getTime()*1000000;\n        }else{\n          if(isInDataInterfaces(value)!==undefined){\n            if(mappedData[value]!==null){\n               valueSetBody += value+\"=\"+mappedData[value]+\",\"; \n            }\n        }\n      }\n    }\n    \n    msg.valueSetBody = valueSetBody;\n    \n    for(var tag in tagSet){\n     tagSetBody += tag+\"=\"+tagSet[tag]+\",\";\n    }\n  \n    // Prepare Schema as follows\n    //    soil,id=swa-plantcare-16,lon=12;lat=9 soil_temp=20,moisture=60,coolingtime=24 20398340912384\n    requestBody += env.get(\"MEASUREMENT_Laura\") +\",\"+tagSetBody.slice(0, -1)+ \" \"+valueSetBody.slice(0, -1)+\" \"+timestamp+'\\n';\n  }\n}\n\n\nmsg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\nmsg.requestBody = requestBody;\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":380,"wires":[["4a4387bd.7491c8"],["41a41611.39e618"]]},{"id":"4a4387bd.7491c8","type":"base64","z":"b79aef45.e70a1","name":"Encrypt PW for influxDB","action":"","property":"payload","x":650,"y":380,"wires":[["a73ca6e8.c463d8"]]},{"id":"a73ca6e8.c463d8","type":"function","z":"b79aef45.e70a1","name":"Prepare POST-Request for influx","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/write?db=\"+env.get(\"INFLUXDB_DB_Laura\");\nmsg.headers = {};\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nmsg.payload = msg.requestBody\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":380,"wires":[["4186495a.b0b6e8"]]},{"id":"4186495a.b0b6e8","type":"http request","z":"b79aef45.e70a1","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":380,"wires":[["6ba2c674.3593f8"]]},{"id":"6ba2c674.3593f8","type":"debug","z":"b79aef45.e70a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":380,"wires":[]},{"id":"f51d955b.478528","type":"function","z":"b79aef45.e70a1","name":"Prepare InfluxDB-Request to get last Reading","func":" let url = env.get(\"INFLUX_ENDPOINT\")+\"/query?pretty=true&db=\"+env.get(\"INFLUXDB_DB_Bruno\")+\"&q=\";\n msg.url=url+\"SELECT * AS \\\"source\\\" FROM \\\"\"+env.get(\"MEASUREMENT_Bruno\")+\"\\\"ORDER BY DESC LIMIT 1\";\n msg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":980,"wires":[["7b78822c.f0720c"]]},{"id":"7b78822c.f0720c","type":"base64","z":"b79aef45.e70a1","name":"Encrypt PW for influxDB","action":"","property":"payload","x":750,"y":980,"wires":[["f14fb2fe.64759"]]},{"id":"f14fb2fe.64759","type":"function","z":"b79aef45.e70a1","name":"Prepare GET-Request for influx","func":"msg.headers = {};\nvar auth = new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"));\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":980,"wires":[["1012a935.3ba6d7"]]},{"id":"1012a935.3ba6d7","type":"http request","z":"b79aef45.e70a1","name":"HTTP GET-Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":980,"wires":[["e5d69809.321038"]]},{"id":"e5d69809.321038","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":1470,"y":980,"wires":[["93c04ecc.744a"]]},{"id":"93c04ecc.744a","type":"function","z":"b79aef45.e70a1","name":"Set Timestamp","func":"var timeIndex = 0;\nvar timestamp;\n\nif (typeof msg.payload.results == \"undefined\" || typeof msg.payload.results[0].series == \"undefined\") {\n  msg.lastReading = \"2020-01-01T01:00:00.00Z\"\n}\nelse{\n    timestamp =msg.payload.results[0].series[0].values[0][timeIndex];\n    msg.lastReading = timestamp;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":980,"wires":[["1d65e8d7.c8a487","50e96414.f4f2dc"]]},{"id":"1d65e8d7.c8a487","type":"debug","z":"b79aef45.e70a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1940,"y":980,"wires":[]},{"id":"47ae4f92.cfaf6","type":"inject","z":"b79aef45.e70a1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":880,"wires":[["242a6f8a.78dc5"]]},{"id":"50e96414.f4f2dc","type":"function","z":"b79aef45.e70a1","name":"Prepare InfluxDB-Request to get last Reading","func":" let url = env.get(\"INFLUX_ENDPOINT\")+\"/query?pretty=true&db=\"+env.get(\"INFLUXDB_DB_Weather\")+\"&q=\";\n msg.url=url+\"SELECT * FROM \\\"\"+env.get(\"MEASUREMENT_weather\")+\"\\\" WHERE time > \"+new Date(msg.lastReading).getTime()*1000000+\" ORDER BY DESC\";\n\n msg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1060,"wires":[["d024035.7dbdc"]]},{"id":"d024035.7dbdc","type":"base64","z":"b79aef45.e70a1","name":"Encrypt PW for influxDB","action":"","property":"payload","x":770,"y":1060,"wires":[["e40e3973.e65908"]]},{"id":"e40e3973.e65908","type":"function","z":"b79aef45.e70a1","name":"Prepare GET-Request for influx","func":"msg.headers = {};\nvar auth = new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"));\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1060,"wires":[["5af1a768.a06388"]]},{"id":"5af1a768.a06388","type":"http request","z":"b79aef45.e70a1","name":"HTTP GET-Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1320,"y":1060,"wires":[["e9fc0deb.87328"]]},{"id":"46b533f1.4f2fdc","type":"function","z":"b79aef45.e70a1","name":"Add timestamp to filter","func":"var timeIndex = 0;\nvar timestamp;\n//for(var index in msg.payload.results[0].series[0].columns){\n//    if(msg.msg.payload.results[0].series[0].columns[index] == \"time\"){\n       // timeIndex = index;\n//    }\n//}\n\nif (typeof msg.payload.results == \"undefined\" || typeof msg.payload.results[0].series == \"undefined\") {\n  msg.lastReading = \"2020-01-01T01:00:00.00Z\"\n}\nelse{\n    timestamp =msg.payload.results[0].series[0].values[0][timeIndex];\n    msg.lastReading = timestamp;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":1060,"wires":[[]]},{"id":"e9fc0deb.87328","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":1510,"y":1060,"wires":[["f78b6cb1.8c7ef","335614ea.d6746c"]]},{"id":"f78b6cb1.8c7ef","type":"debug","z":"b79aef45.e70a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":1060,"wires":[]},{"id":"528f069a.9e4278","type":"comment","z":"b79aef45.e70a1","name":"Get new Data","info":"","x":90,"y":1060,"wires":[]},{"id":"b26b9a2f.2cd988","type":"comment","z":"b79aef45.e70a1","name":"Get Last Readings","info":"","x":110,"y":980,"wires":[]},{"id":"242a6f8a.78dc5","type":"file in","z":"b79aef45.e70a1","name":"","filename":"/data/device_mapping.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":880,"wires":[["345712b.0659cee"]]},{"id":"345712b.0659cee","type":"json","z":"b79aef45.e70a1","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":880,"wires":[["45a7eac6.4c27b4"]]},{"id":"45a7eac6.4c27b4","type":"function","z":"b79aef45.e70a1","name":"create Device Filter","func":"msg.dataInterfaces = msg.payload.dataInterfaces;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":880,"wires":[["f51d955b.478528"]]},{"id":"62368e4a.4636f","type":"comment","z":"b79aef45.e70a1","name":"Parse and transfer Data","info":"","x":100,"y":1260,"wires":[]},{"id":"67526082.1edd5","type":"debug","z":"b79aef45.e70a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1340,"wires":[]},{"id":"c0e1998b.4a0a38","type":"function","z":"b79aef45.e70a1","name":"","func":"var requestBody = \"\"\n\nmsg.mappedData = [];\n\nfunction getIndex(name){\n    return msg.columns.indexOf(name);\n}\n\nfunction isInDataInterfaces(dataPointName){\n    for(var k = 0; k<msg.dataInterfaces.weatherBruno.length; k++){\n        for(var l = 0; l<msg.dataInterfaces.weatherBruno[k].fromName.length; l++){\n            if(msg.dataInterfaces.weatherBruno[k].fromName[l]==dataPointName){\n                return msg.dataInterfaces.weatherBruno[k].toName;\n            }\n        }\n    }\n}\n\n//berprft ob Payload mit neuen Daten vorhanden ist.\nif(typeof msg.payload.results[0].series == 'undefined'){\n    msg = {};\n    msg.payload = \"No new Data\";\n    return[null, msg]\n}\nelse{\n    msg.columns = msg.payload.results[0].series[0].columns;\n}\n\n\nfor (var i = 0; i < msg.payload.results[0].series[0].values.length; i++) {\n  var valueSet = []\n  var tagSet = []\n  var valueSetBody=\"\";\n  var tagSetBody=\"\";\n  var timestamp;\n  var mappedData = {};\n  msg.payload.results[0].series[0].columns.forEach((key, x) => mappedData[key] = msg.payload.results[0].series[0].values[i][x]);\n  \n  //berprft ob Device berhaupt fr Laura interesant ist, resp. ob ein Object angegeben ist\n  for(var value in mappedData){\n    if(value == \"time\"){\n        timestamp = new Date(mappedData[value]).getTime()*1000000;\n    }else{\n        if(isInDataInterfaces(value)!==undefined){\n            if(mappedData[value]!==null){\n               valueSetBody += value+\"=\"+mappedData[value]+\",\"; \n            }\n        }\n      }\n    }\n    \n    msg.valueSetBody = valueSetBody;\n    \n    for(var tag in tagSet){\n     tagSetBody += tag+\"=\"+tagSet[tag]+\",\";\n    }\n  \n    // Prepare Schema as follows\n    //    soil,id=swa-plantcare-16,lon=12;lat=9 soil_temp=20,moisture=60,coolingtime=24 20398340912384\n    requestBody += env.get(\"MEASUREMENT_Bruno\") +\",\"+tagSetBody.slice(0, -1)+ \" \"+valueSetBody.slice(0, -1)+\" \"+timestamp+'\\n';\n  \n}\n\n\nmsg.payload =new Buffer.from(env.get(\"INFLUXDB_USER\") + ':' + env.get(\"INFLUXDB_USER_PASSWORD\"))\nmsg.requestBody = requestBody;\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":1280,"wires":[["380e4340.43c56c"],["67526082.1edd5"]]},{"id":"380e4340.43c56c","type":"base64","z":"b79aef45.e70a1","name":"Encrypt PW for influxDB","action":"","property":"payload","x":670,"y":1280,"wires":[["3bf01f7.9d8f6e"]]},{"id":"3bf01f7.9d8f6e","type":"function","z":"b79aef45.e70a1","name":"Prepare POST-Request for influx","func":"msg.url = env.get(\"INFLUX_ENDPOINT\")+\"/write?db=\"+env.get(\"INFLUXDB_DB_Laura\");\nmsg.headers = {};\nmsg.headers = {\"Authorization\": 'Basic '+msg.payload};\nmsg.payload = msg.requestBody\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1280,"wires":[["ecc1f5ae.f49378"]]},{"id":"ecc1f5ae.f49378","type":"http request","z":"b79aef45.e70a1","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":1280,"wires":[["1f84c7e2.d503a8"]]},{"id":"1f84c7e2.d503a8","type":"debug","z":"b79aef45.e70a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":1280,"wires":[]},{"id":"acc937a3.eee498","type":"comment","z":"b79aef45.e70a1","name":"Loop fr Positionsumwandlung","info":"","x":130,"y":1140,"wires":[]},{"id":"f1c7a351.b08cc","type":"function","z":"b79aef45.e70a1","name":"Pop Measurement from Array","func":"function getIndex(name){\n    return msg.columns.indexOf(name);\n}\n\n\nif(msg.valuesToBeProcessed.length === 0){\n    msg.payload = msg.tempPayload;\n    msg.payload.results[0].series[0].values = msg.valuesProcessed\n    if(!msg.payload.results[0].series[0].columns.includes(\"zone\")){\n        msg.payload.results[0].series[0].columns.push(\"zone\")\n    }\n    \n    delete msg.lat;\n    delete msg.long;\n    delete msg.columns;\n    delete msg.tempPayload;\n    delete msg.valuesToBeProcessed;\n    delete msg.newMeasurement;\n    delete msg.currentIndex;\n    delete msg.zone;\n    return [msg,null];\n}\nelse{\n    msg.newMeasurement = msg.valuesToBeProcessed.pop();\n    msg.pos_latitude = msg.newMeasurement[getIndex(\"pos_latitude\")];\n    msg.pos_longitude = msg.newMeasurement[getIndex(\"pos_longitude\")];\n    msg.currentIndex = msg.valuesToBeProcessed.length - 1;\n    return [null,msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":1140,"wires":[["104380d0.f38e1f"],["f0196f2e.a88ca"]]},{"id":"335614ea.d6746c","type":"function","z":"b79aef45.e70a1","name":"Prepare Array","func":"msg.tempPayload = msg.payload;\nmsg.valuesToBeProcessed = msg.payload.results[0].series[0].values;\nmsg.columns = msg.payload.results[0].series[0].columns;\nmsg.valuesProcessed = []\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1140,"wires":[["f1c7a351.b08cc"]]},{"id":"f0196f2e.a88ca","type":"link out","z":"b79aef45.e70a1","name":"","links":["982dab62.443748"],"x":435,"y":1220,"wires":[]},{"id":"8809635.0e75ba","type":"link in","z":"b79aef45.e70a1","name":"","links":["69c29b23.e92bd4"],"x":515,"y":1220,"wires":[["874f727b.643f4"]]},{"id":"874f727b.643f4","type":"function","z":"b79aef45.e70a1","name":"Pass Zone to measurement","func":"function getIndex(name){\n    return msg.columns.indexOf(name);\n}\n\nmsg.valuesProcessed.push(msg.newMeasurement);\n\nif(!msg.columns.includes(\"zone\")){\n    msg.valuesProcessed[msg.valuesProcessed.length-1].push(msg.zone);\n    msg.tempPayload.results[0].series[0].values[msg.currentIndex].push(msg.zone);\n} else{\n    msg.valuesProcessed[msg.valuesProcessed.length-1][getIndex(\"zone\")]=msg.zone;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1220,"wires":[["f1c7a351.b08cc"]]},{"id":"104380d0.f38e1f","type":"debug","z":"b79aef45.e70a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":1160,"wires":[]},{"id":"ed097ada.ab8138","type":"inject","z":"b79aef45.e70a1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":660,"wires":[["277c5b27.57d764"]]},{"id":"277c5b27.57d764","type":"http request","z":"b79aef45.e70a1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://element-iot.ch/api/v1/devices?limit=200&auth=960914355e5c638b5e75dd7a3475c59b","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":680,"wires":[["e0f67d63.9a3f5"]]},{"id":"e0f67d63.9a3f5","type":"debug","z":"b79aef45.e70a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":680,"wires":[]},{"id":"a84515e4.a06da8","type":"function","z":"210233e1.b9e69c","name":"Prepare data for Status","func":"let token = env.get(\"ZENNER_TOKEN\");\nlet dbName = env.get(\"INFLUX_DBNAME\"); //swa-database\nlet endpoint = env.get(\"INFLUX_ENDPOINT\"); //http://swa-meshup_influx_1:8086\n\nvar payload = [];\n\nvar packetSet = [];\nvar tagSet = {};    \n\nlet dataPointMap = msg.currentDevice.data_point_map;\nlet eui = msg.currentDevice.id;\nlet name = msg.currentDevice.name;\nlet pos_lon = msg.currentDevice.lon;\nlet pos_lat = msg.currentDevice.lat;\n\nvar currendPacketId;\nvar capturedIds = [];\n\nif(msg.payload.error==\"Too Many Requests\"){\n    msg.jumpToNextDevice = \"false\"\n    return [msg, null]\n}\n\nif(msg.payload.body.length === 0){\n    msg.jumpToNextDevice = \"true\"\n    return [msg,null];\n}\n\nif(msg.payload.body.length == 100){\n    msg.jumpToNextDevice = \"false\"\n}\nelse{\n     msg.jumpToNextDevice = \"true\"\n}\n\nmsg.currentDevice.last_transmission = msg.payload.body[msg.payload.body.length-1].measured_at;\ntagSet.pos_longitude = pos_lon;\ntagSet.pos_latitude = pos_lat;\n\nfor(var dataPacket in msg.payload.body){\n    \n    var fieldSet = {};\n    \n    for(var dataPoint in msg.payload.body[dataPacket].data){\n        for(var mapPoint in dataPointMap){\n            if(dataPointMap[mapPoint].valueName == dataPoint){\n              fieldSet[dataPointMap[mapPoint].fieldName] = msg.payload.body[dataPacket].data[dataPoint];\n                }\n        }\n      \n    }\n\n    if(!(Object.keys(fieldSet).length === 0 && fieldSet.constructor === Object)){\n        fieldSet.time = new Date(msg.payload.body[dataPacket].measured_at).getTime()*1000000;\n        packetSet.push(fieldSet);\n        packetSet.push(tagSet);\n    }\n}\npayload.push(packetSet);\n\n\nmsg.payload = payload;\n\nreturn [msg,msg]; \n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":690,"y":960,"wires":[[],[]]},{"id":"496e0732.b8f668","type":"debug","z":"210233e1.b9e69c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":1020,"wires":[]},{"id":"350e3c56.e0b024","type":"debug","z":"210233e1.b9e69c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":800,"wires":[]},{"id":"7be346c7.a26328","type":"debug","z":"210233e1.b9e69c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":400,"wires":[]},{"id":"6b9cb8b4.174a08","type":"pythonshell in","z":"ea8ebb74.494af8","name":"","pyfile":"/data/python_scripts/sources/mein.py","virtualenv":"","continuous":false,"stdInData":false,"x":440,"y":100,"wires":[["37ca4b5c.44f5c4"]]},{"id":"f1e8dee2.03528","type":"inject","z":"ea8ebb74.494af8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"swaLauraTest","payloadType":"str","x":210,"y":100,"wires":[["6b9cb8b4.174a08"]]},{"id":"37ca4b5c.44f5c4","type":"debug","z":"ea8ebb74.494af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"8f455814.2dab98","type":"inject","z":"ea8ebb74.494af8","name":"Source Mapping File auslesen","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":360,"wires":[["20817a01.560356"]]},{"id":"20817a01.560356","type":"file in","z":"ea8ebb74.494af8","name":"","filename":"/data/python_scripts/sources/testMap.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":360,"wires":[["3337952e.4a048a"]]},{"id":"c2319edc.29a4a","type":"debug","z":"ea8ebb74.494af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":360,"wires":[]},{"id":"24b305d3.4c367a","type":"debug","z":"70dd4e43.cac478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1780,"y":300,"wires":[]},{"id":"3337952e.4a048a","type":"json","z":"ea8ebb74.494af8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":360,"wires":[["c2319edc.29a4a"]]},{"id":"7fe71bf2.a6f3f4","type":"inject","z":"ea8ebb74.494af8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":"","topic":"","payload":"swaWeatherStorageTest","payloadType":"str","x":170,"y":160,"wires":[["e8ef4a87.d3cd48"]]},{"id":"e8ef4a87.d3cd48","type":"pythonshell in","z":"ea8ebb74.494af8","name":"","pyfile":"/data/python_scripts/sources/mein.py","virtualenv":"","continuous":false,"stdInData":false,"x":440,"y":160,"wires":[["cd28f2b4.74a8"]]},{"id":"cd28f2b4.74a8","type":"debug","z":"ea8ebb74.494af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"e634a824.a15908","type":"pythonshell in","z":"ea8ebb74.494af8","name":"","pyfile":"/data/python_scripts/weatherPreparationBruno/main.py","virtualenv":"","continuous":false,"stdInData":false,"x":440,"y":240,"wires":[["24acbc17.e0a374"]]},{"id":"24acbc17.e0a374","type":"debug","z":"ea8ebb74.494af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"8895195.19c06e8","type":"inject","z":"ea8ebb74.494af8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["e634a824.a15908"]]}]